/* 	Library Style Developer coder Alexander Moskvin  sasha-freez@mail.ru. for site http://sasha-freez.ru */
/* media css */

/* width 1200 to all */
@media (min-width:1280px){
}


/* maket media screen css  */
/* design 1200 to 960 */
@media screen and (max-width:1200px){
.container{width:930px;}

.sliders{background-size:100% auto; height:350px; margin-bottom:25px;}

.goods_list{margin-left:-21px; margin-right:-21px;}
.goods_list .item{width:200px; margin:0 21px; min-height:290px;}
.goods_list .item .img img{width:200px;}

.buyers_list{margin-left:-21px; margin-right:-21px;}
.buyers_list .item{width:200px; margin:0 21px; min-height:290px;}
.buyers_list .item .img img{width:200px;}

.bl_content{width:725px;}
.more-ajax{width:684px;}

.goods-details .goods-desc{margin-right:0;}
.goods-details .goods-img img{max-width:300px; height:auto;}

.goods-details .goods-img{margin-right:20px;}
.goods-details .goods-desc .goods-select .btn-h36{width:126px; font-size:14px;}
.goods-details .goods-desc .goods-select .select{margin-right:10px; width:114px; font-size:14px;}
.goods-details .sel-size label{width:65px;}
.goods-details .sel-color label{width:40px;}
.goods-details .sel-size .jq-selectbox__dropdown{left:-76px;}
.goods-details .select .jq-selectbox__dropdown{width:126px !important;}
.goods-details .sel-color .jq-selectbox__dropdown{left:-51px;}
/* car */
.line-steps .step{width:295px;}

.cars-list{width:590px;}
.cars-list .row .goods-img{margin-right:25px;}
.cars-list .row .desc .it{font-size:13px;}
.cars-list .row .price{width:105px; font-size:24px; line-height:18px;}

.car-total{width:295px;}
.car-total .total-txt{width:255px; height:60px; padding:10px 15px 0 0; background-size:270px 70px;}

/* car st2 */
.cr2 .l{width:433px;}
.step-content input[type="text"]{width:345px;}

.step2 .car-total .total-txt .txt, .step3 .car-total .total-txt .txt{width:140px; font-size:12px; padding-left:15px;}
.step2 .car-total .total-txt .summ, .step3 .car-total .total-txt .summ{font-size:22px;}

}

/* design 959 to 760 */
@media screen and (max-width:959px){ 


}
/* design 719 to 320 */
@media screen and (max-width:719px){


}
/* design 420 - 320 */
@media screen and (max-width:420px){

}
