
.zk_menu{padding:0 10px 25px 0; text-align:center;}
.zk_menu ul{margin:0; padding:0; list-style:none;}
.zk_menu ul li{margin:0; padding:0 10px 15px 10px; font-size:14px; display:inline;} 
.zk_menu ul li a{color:#4F83C4; text-transform:uppercase; }
.zk_menu ul li a:hover{color:#4F83C4;}

.zk_rub{margin:-130px 0 0 0;}
.zk_rub .container{min-height:600px; background:#fff; padding:130px 25px 15px 25px; width:945px;}
.zk_rub .bl_left{float:left; width:665px;}
.zk_rub .bl_right{float:right; width:250px;}

.zk_txt{}
.zk_txt p{border-bottom:1px dotted #a1a1a8; padding:0 0 10px 0; margin:0 0 10px 0;}
.zk_txt p:last-child{border-bottom:none medium;}

.form{background:url(/n/images/bg/binding_light.png) repeat 0 0; border:1px solid #d0d0d0;-webkit-border-radius:4px;border-radius:4px; padding:10px 20px 10px 20px;}
.form1{margin:0 0 30px 0;}
.form .title{text-align:center; font-size:16px; padding:0 0 10px 0px; line-height:22px; margin:0 -10px;}
.form .input{background:url(/n/images/bg/input.png) repeat-x 0 0 #ededed; margin:0 0 10px 0px; padding:0 20px 0 35px; border-left:1px solid #cccccc;border-top:1px solid #cccccc;border-right:1px solid #ffffff;border-bottom:1px solid #ffffff; position:relative;
-webkit-border-radius:6px;border-radius:6px;}
.form .input input{border:none medium; color:#575759; font-size:12px; background:transparent; width:100%; height:30px; line-height:30px; resize:none; outline:none;}
.form .error{border-color:#C52B2B;}

.form .textarea{background:url(/n/images/bg/textarea.png) repeat-x 0 0 #ededed; margin:0 0 10px 0px; padding:10px 0px 10px 35px; border-left:1px solid #cccccc;border-top:1px solid #cccccc;border-right:1px solid #ffffff;border-bottom:1px solid #ffffff; position:relative;
-webkit-border-radius:6px;border-radius:6px;}
.form .textarea textarea{border:none medium; color:#575759; font-size:12px; background:transparent; width:100%; outline:none; resize:none;}
.form .error{border-color:#C52B2B;}


.form .input .icon, .form .textarea .icon{position:absolute; left:10px; top:8px; width:20px; height:20px; z-index:80;}
.form .name .icon{background:url(/n/images/icon/form-icon1.png) no-repeat 0px 1px;}
.form .phone .icon{background:url(/n/images/icon/form-icon2.png) no-repeat 3px 1px ;}
.form .mail .icon{background:url(/n/images/icon/form-icon3.png) no-repeat 2px 2px;}
.form .mess .icon{background:url(/n/images/icon/form-icon5.png) no-repeat 1px 2px;}
.form .infos{font-size:9px; background:url(/n/images/icon/form-icon4.png) no-repeat 14px 0; padding:0 0 0 38px;}

.form .btn{text-align:center; color:#fffefe; font-weight:bold; font-size:14px; padding:0px; margin:0px; background:transparent; border:none medium; background:#c52b2b; cursor:pointer; border-bottom:3px solid #8a1e1e;-webkit-border-radius:3px;border-radius:3px;}
.form .btn:hover{background:#a82525;}
.form .btn-small{padding:2px 10px 1px 10px;}
.form .btn-18{padding:2px 10px 1px 10px; font-size:18px;}
.form .btn{position:relative; bottom:-14px; left:29px; text-decoration:none;} 



.form_popup{background:url(/n/images/bg/binding_light.png) repeat 0 0; border:1px solid #464646;-webkit-border-radius:10px;border-radius:10px; width:280px; position:absolute; z-index:999; top:0px; display:none; padding:10px 40px 20px 40px; position:fixed; top:50%; left:50%; margin:-180px 0 0 -180px;
-webkit-box-shadow:0px 0px 1px 8px rgba(116, 116, 116, 0.6);
box-shadow:0px 0px 1px 8px rgba(116, 116, 116, 0.6);
}

.overlay{min-height:100%; background:#000; opacity:0.6; position:fixed; left:0px; top:0px; width:100%; z-index:998; display:none; cursor:pointer;}
.tip_over{background:transparent;}
.close{background:url(/n/images/bg/close_all.png) no-repeat 0 0; width:26px; height:26px; position:absolute; right:10px; top:10px; z-index:998; cursor:pointer;}
.close:hover{background-position:-40px 0;} 

.b_plan{padding:0 0 25px 0;}
.b_plan ul{background:none; font-size:14px; margin:0 0 20px 20px; padding:0;}

.b_cois{padding:0 0 25px 0;}
.b_cois table{border-collapse:collapse; margin:0 0 20px 0;}
.b_cois table td, .b_cois table th{padding:3px 5px; background:url(/n/images/bg/binding_light.png) repeat 0 0; border:1px solid #999;}
.b_cois table td p{padding:0;}