/* 	Library Style Developer coder Alexander Moskvin  sasha-freez@mail.ru. for site http://sasha-freez.ru */
/* Clear css */
#editPanel{display:none !important;}

*{margin:0;padding:0; outline:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
header,nav,section,article,aside,footer{display:block;margin:0;padding:0;}
img{border:0; display:inline-block; vertical-align:top;}
input{vertical-align:middle;}
a{color:#fff; transition:all 0.3s ease 0s; outline:none;}
a:hover{color:#bebebe;}
p{margin:0; padding:0 0 10px 0;}
button{cursor:pointer; transition:all 0.3s ease 0s;}
button::-moz-focus-inner, input::-moz-focus-inner{padding:0;border:0;} /* firefox fix center text buttom */
img{display:inline-block; vertical-align:top;}

html,body{min-height:100%;}
body{font-size:14px; font-family:'stolzlregular', Arial, Helvetica, sans-serif; color:#fff; background:#000; margin:0 auto;}
button, select, input, textarea{font-family:'stolzlregular', Arial, Helvetica, sans-serif; color:#000; font-size:14px;}

h1, .h1{font-size:36px;margin:0;padding:0 0 25px 0; color:#fff; text-transform:uppercase;}
h2, .h2{font-size:24px;margin:0;padding:0 0 15px 0; color:#fff; text-transform:uppercase;}
h3, .h3{font-size:22px;margin:0;padding:0 0 15px 0; color:#fff; text-transform:uppercase;}
h4, .h4{font-size:18px;margin:0;padding:0 0 15px 0; color:#fff; text-transform:uppercase;}
ul,ol{list-style:none; margin:0; padding:0;}

/* default css */
.container{max-width:1200px; margin:0 auto; box-sizing:border-box; padding:0 30px;}
.container:after{content:"";display:block;clear:both;}

.fff{outline:1px solid #fff !important;}

.page_wrapper{height:100%; overflow:hidden;}

.top_line{height:80px; background:#000; width:100%; position:absolute; top:0; left:0;}
.top_line .logo{float:left; padding:5px 0 0 0;}
.top_line .logo a{display:block; width:130px; height:70px; display:block;background:url(../images/logo.svg) no-repeat 0 0; background-size:100% auto;}
.top_line .logo a:hover{opacity:0.8;}
.top_line .socials{float:right; margin:25px -5px 0 0;}

.top_line_padd{margin-top:90px;}

.tmenu{text-align:center; width:550px; margin:0 auto;}
.tmenu ul{margin:0; list-style:none; padding:27px 0 0 0;}
.tmenu ul li{margin:0; padding:0 15px; display:inline-block; vertical-align:top; font-size:22px; text-transform:uppercase;}
.tmenu ul li a{color:#fff; text-decoration:none;}
.tmenu ul li a:hover{color:#bebebe;}

/* main head */
header{background:url(../images/bg-test.jpg) no-repeat center 0; height:870px;}
header .container{padding-top:90px;}
.big_logo{float:left; margin:160px 0 0 -50px;}
.head_right{float:right; width:429px; padding:30px 0 0 0;}
.head_video{position:relative; margin:0 0 150px 0;}
.head_video:after{display:none; content:""; position:absolute; top:50%; left:50%; margin:-62px 0 0 -95px; background:url(../images/play_video.png) no-repeat 0 0; width:190px; height:124px;}
.head_video iframe{border:2px solid #fff; box-sizing:border-box;}
.head_quote{font-size:16px; line-height:26px; padding:0 0 85px 0; margin:0 -30px 0 0; position:relative;}
.head_quote:after{display:none; content:""; position:absolute; top:-15px; left:0; background:url(../images/quote.png) no-repeat 0 0; width:35px; height:29px;}
.head_progress{text-align:center;}
.head_progress .row{display:inline-block; vertical-align:middle; padding:0 22px 20px;} 



/* main bio */
.block_bio{background:url(../images/block_bio.jpg) no-repeat center 0; height:1100px; overflow:hidden;}
.bio_misha_bg{background:url(../images/bio/misha_bg.png) no-repeat center 0; background-size:100% auto; width:719px; height:1044px; margin:56px 0 0 -230px; position:absolute;}
.block_bio .b_right{float:right; width:570px; overflow:hidden;}
.bio_txt{padding:35px 0 25px 0;}
.bio_txt .h1{color:#fff; font-size:28px; line-height:36px; text-align:center;}
.bio_txt .desc{color:#fff; font-size:16px; line-height:24px;}
.bio_txt .desc p{padding:0 0 20px 0;}
.bio_txt .more{text-align:right; font-size:18px; text-transform:uppercase;}

.bio_foto{font-size:0; line-height:0; margin:0 -22px; padding-bottom:25px; text-align:center;}
.bio_foto .row{display:inline-block; vertical-align:middle; padding:0 22px 20px;}
.bio_foto .row img{width:260px; height:auto;border:2px solid #fff; box-sizing:border-box;}

.bio_diploms{font-size:0; line-height:0; margin:0 -22px; padding-bottom:15px; text-align:center;}
.bio_diploms .h3{text-align:center; line-height:normal; font-size:22px; padding:0 0 22px 0;}
.bio_diploms .row{display:inline-block; vertical-align:middle; padding:0 22px 20px;}
.bio_diploms .row img{width:260px; height:auto; border:2px solid #fff; box-sizing:border-box;}

/* main blog */
.block_blog_list{background:url(../images/block_blog_bg.jpg) no-repeat center 0; height:900px; overflow:hidden;}
.blog_list{float:left; width:390px; padding:30px 0 0 0;}
.blog_list a{text-decoration:none;}
.blog_list .h1{text-align:center;}
.blog_list .row{padding:10px 0 25px 0; position:relative; top:0; transition:all 0.3s ease 0s;}
.blog_list .row iframe{border:2px solid #fff;}
.blog_list .row:hover{top:-12px; opacity:0.8; top:0; opacity:1;}
.blog_list .row .img{height:200px; width:390px; overflow:hidden; margin:0 0 10px 0; border:2px solid #fff;}
.blog_list .row .img img{width:100%; height:auto;}
.blog_list .row .name{font-size:16px; line-height:22px; height:44px; overflow:hidden; text-shadow:1px 1px 1px #000;}
.blog_misha_bg{float:right; margin-top:20px; background:url(../images/blog/misha_bg.png) no-repeat center 0; width:600px; height:989px; background-size:100% auto; margin-top:95px; width:650px; height:735px;}
  
/* main gallery album */
.block_gal_album{background:url(../images/block_gal_album_bg.jpg) no-repeat center 0; height:900px; overflow:hidden;}
.gal_album_list{padding:45px 0 0 0; text-align:center;}
.gal_album_list .h1{text-align:center; padding:0 0 35px 0;}
.gal_album_list .wrap{font-size:0; line-height:0; margin:0 -20px;}
.gal_album_list .row{display:inline-block; vertical-align:top; margin:0 20px 40px;position:relative; top:0; transition:all 0.3s ease 0s;}
.gal_album_list .row img{width:500px; height:auto;}
.gal_album_list .row:hover{top:-12px; opacity:0.8;}

/* main feedback */
.block_contact{background:url(../images/block_contact_bg.jpg) no-repeat center 0; height:880px; padding:100px 0 0 0; overflow:hidden;}
.feedback_form{width:800px; margin:0 auto; background:rgba(255,255,255,0.7) no-repeat 0 0; padding:20px 40px;}
.feedback_form .h1{text-align:center; color:#000;}
.feedback_form .wrap{overflow:hidden;}
.feedback_form .input{float:left; width:390px;}
.feedback_form .mess{float:right;}
.feedback_form input{background:#000; height:40px; border:none; color:#fff; width:100%; padding:0 10px; box-sizing:border-box; margin:0 0 20px 0; border:2px solid #000;}
.feedback_form textarea{background:#000; height:40px; border:none;color:#fff; width:100%; padding:10px 10px 0; box-sizing:border-box; margin:0 0 20px 0; height:100px; border:2px solid #000;}
.feedback_form  .submit_btn{text-align:right; padding:0 0 20px 0;}
.feedback_form  .submit_btn .submit{background:#000; height:45px; border:none; color:#fff; text-transform:uppercase; text-align:center; font-size:16px; width:200px;}
.feedback_form .error{border-color:#c52b2b;}

/* popup */
.form_popup{border-radius:4px; width:500px; position:fixed; top:50%; left:50%; box-sizing:border-box; margin:-150px 0 0 -250px;  z-index:999;}
.form_popup .wrap{padding:20px;background:#fff; position:relative;}
.success_popup{text-align:center; font-size:18px; padding:100px 0; line-height:28px; color:#000;}

/* close */
.close_popup{position:absolute; top:5px; right:5px; width:40px; height:40px; cursor:pointer; z-index:10; cursor:pointer;}
.close_popup:before, .close_popup:after{position:absolute; content:""; height:28px; width:2px; left:18px; top:6px; background:#000; transition:all 0.3s ease 0s;}
.close_popup:hover:before, .close_popup:hover:after{background:#666;}
.close_popup:before{transform:rotate(45deg);}
.close_popup:after{transform:rotate(-45deg);}

/* footer */
footer{margin-top:-80px; height:80px; background:#000;}
footer .socials{text-align:center; padding:30px 0 20px 0;}
footer .tmenu ul{padding:0 0 15px 0;}
footer .tmenu ul li{font-size:14px;}
footer .copyright{font-size:12px; text-align:center; padding:0; line-height:80px;}

/* block css */
.socials a{width:40px; height:40px; display:inline-block; vertical-align:top; margin:0 5px;}
.socials a:hover{opacity:0.8;}
.socials svg{width:100%; height:auto;}
.social-icon-bg{fill:#fff;}



/* default css */
.dnone{display:none;}

.inner_head{text-align:center; height:350px; background-position:center -120px; background-size:1400px auto;}
.inner_misha{display:inline-block; vertical-align:top; width:380px; margin:30px 0 0 0;}
.inner_misha img{width:100%; height:auto;}
.inner_logo{display:inline-block; vertical-align:top; width:300px; margin:65px 0 0 100px;}
.inner_logo img{width:100%; height:auto;}

/* slidebar */
.overlay, .hide_sidebar{min-height:100%; background:#000; opacity:0.5; position:fixed; left:0px; top:0px; width:100%; z-index:98; display:none; cursor:pointer;}

.imenu{cursor:pointer; position:relative; display:block; float:right; width:50px; height:20px; padding:32px 0 0 0; margin-top:17px; text-align:center; display:block;}
.imenu > span{display:block;}
.imenu:after, .imenu:before, .imenu > span:before{content:""; position:absolute; width:40px; height:5px; left:5px; background:#fff; border-radius:2px;}
.imenu:after{top:0px;}
.imenu:before{top:10px;}
.imenu > span:before{top:20px;}

.slidebar-act{overflow:hidden;}
.slidebar-act .menu-sidebar{margin-left:0; overflow:auto;}
.slidebar-act .page_wrapper{overflow:hidden;}
.slidebar-act footer{display:none;}
.slidebar-act .hide_sidebar{display:block;position:absolute;}

.menu-sidebar{background:#000; width:300px; height:100%; position:absolute; top:0; left:0; margin-left:-300px; transition:margin-left 0.35s ease 0s; color:#fff; z-index:999; font-size:20px;}
.menu-sidebar .wr-top{padding:20px 20px 35px;}
.menu-sidebar .wr-bottom{padding:0 20px 20px;}
.sidebar_logo{display:block; width:147px; height:80px; background:url(../images/logo.svg) no-repeat 0 0; background-size:100% auto; margin:0 auto;}

.sidebar_menu li{text-transform:uppercase; border-bottom:1px solid #fff; padding:0 20px 20px 20px; margin:0 0 20px 0;}
.sidebar_menu li:last-child{border:none;}
.sidebar_menu a{text-decoration:none;}

/* inner page */
.block_abouts{padding:40px 0 0 0;}
.block_abouts .container{position:relative;}
.block_abouts .abouts_bg{background:url(../images/bio/misha_bg.png) no-repeat center 0; background-size:100% auto; width:719px; height:1044px; margin:56px -240px 0 0; position:absolute; right:0;}
.block_abouts h1{color:#fff; font-size:32px; line-height:38px; text-align:center;}
.block_abouts .abouts_txt{color:#fff; font-size:16px; line-height:34px; float:left; width:600px;}

.page_contacts{background:url(../images/page_contacts.jpg) no-repeat center 0; height:850px; padding:230px 0 0 0; box-sizing:border-box;}
.contacts_row{width:440px; background:rgba(255,255,255,0.7) no-repeat 0 0; padding:30px 40px 20px; color:#000; font-size:17px;}
.contacts_row h1{color:#000; padding:0 0 30px 0;}
.contacts_row a{color:#000;}
.contacts_row a:hover{text-decoration:none;}
.contacts_row .row{padding:0 0 15px 0;}
.contacts_row .row .label{display:inline-block; vertical-align:top; width:105px;}
.contacts_row .row .desc{font-weight:bold;}
.contacts_row .contacts_social{padding:50px 0 0 0;}


.page_abouts{background:url(../images/page_abouts.jpg) no-repeat center 0; padding:0 0 20px 0; background-size: auto auto;}
.abouts_txt{float:left; width:600px; text-shadow:1px 1px 1px #000; padding:50px 0 0 0; position:relative;}
.abouts_txt p{color:#fff; font-size:16px; line-height:24px; padding:0 0 23px 0;}
.abouts_bg{float:right; background:url(../images/page_abouts_misha.png) no-repeat center 0; width:650px; height:635px; float:right; margin:140px -170px 0 -300px; background-size: 100% auto;}
.page_abouts .img_l{float:left; border:2px solid #fff; margin:0 20px 20px 0;}
.page_abouts .img_r{float:right; border:2px solid #fff; margin:0 0 20px 20px;}


.page_abouts .bio_diploms{position:absolute; right:-615px; margin-top:-180px;}
