/* 	Library Style Developer coder Alexander Moskvin  sasha-freez@mail.ru. for site http://sasha-freez.ru */
/* clear css */
/* base structure css */
*{margin:0;padding:0}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
html{height:100%;}
header,nav,section,article,aside,footer{display:block;margin:0;padding:0;}
img{border:0;}
input{vertical-align:middle;}
ol,ul{margin:0;padding:0;}
ul li{margin:0;padding:0;}
a{color:#404040;text-decoration:none; transition:all 0.3s ease 0s;}
a:hover{color:#068db6;text-decoration:none;} 
p{margin:0; padding:0 0 12px 0;}

i, em{font-family:'gotham_promedium_italic', Verdana !important; font-style:normal !important;}

body{font-size:14px; font-family:'gotham_promedium', Verdana; line-height:1.125em; color:#303030;}
button, select, input, textarea{font-family:'gotham_promedium';}
input {outline:none;}
body{-webkit-font-smoothing:subpixel-antialiased !important; -webkit-backface-visibility:hidden; -moz-backface-visibility:hidden; -ms-backface-visibility:hidden;}
h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4{font-weight:normal; font-family:'gotham_promedium', Verdana;}
h1, .h1{padding:0 0 20px 0; line-height:1.4em; font-size:20px;}
h2, .h2{padding:0 0 15px 0; font-size:18px; line-height:28px;}
h3, .h3{padding:0 0 15px 0; font-size:16px; line-height:24px;}
h4, .h4{padding:0 0 15px 0; font-size:15px; line-height:22px;}
h5, .h5{padding:0 0 15px 0; font-size:14px; line-height:20px;}
h6, .h6{padding:0 0 10px 0; font-size:11px;}

.r_hh{text-align:left;}
.r_hh a{text-decoration:underline;}
.r_hh a:hover{text-decoration:none;}

.container{min-width:930px; max-width:1300px; margin:0 auto; padding:0 25px; background:#fff;}
.container:after{content:"";display:block;clear:both;}

header{padding:15px 0 20px 0;}
header .head_top{padding:0 0 0 0;}
header .head_top:after{content:"";display:block;clear:both;}
header .logo{float:left; font-size:18px; font-weight:bold; text-transform:uppercase;}
.logo a{display:block; text-indent:-9999px; width:205px; height:30px; background:url(../images/logo.png) no-repeat 0 0; background-image:url(../images/logo.svg); background-size:205px 30px;}
header .lg_sounds{float:Left; margin:8px 0 0 20px; background:url(../images/logo_sounds.png) no-repeat 0 0; width:91px; height:19px;}
header .lg_sounds:hover{opacity:0.6;}

header .head_top .h_right{float:right; white-space:nowrap; margin-left:20px;}
header .head_top .h_right .auth{float:right; width:150px; padding:7px 0 0 0; font-size:12px;}
header .head_top .h_right .auth a{color:#676767;}
header .head_top .h_right .auth .in{float:left; margin:0 0 0 15px;}
header .head_top .h_right .auth .reg{float:right;}

header .search{float:right; width:360px; position:relative;}
header .search .inp{float:right; background:#e2f1f6; height:28px; line-height:28px; font-size:14px; border:none; border-radius:4px; text-indent:15px; width:0px; color:#546970; font-family:'gotham_promedium';}
header .search .submit{position:absolute; left:auto; right:8px; top:5px; z-index:10;}
header .s_act .inp{display:block;}

header .head_bottom{overflow:hidden;}

.menu{font-family:'gotham_probold', Verdana; margin:0 0 5px 0; height:50px;}
.menu:after{content:""; clear:both; display:block;}
.menu ul{margin:0; padding:0; list-style:none;}
.menu ul li{margin:0; padding:0; display:inline-block; float:left; vertical-align:top; font-size:15px; line-height:19px;}
.menu ul li a{display:inline-block; vertical-align:top; padding:16px 0 15px 0px;}

.menu ul .menu-item-42{width:101px;}
.menu ul .menu-item-25327{width:93px;}
.menu ul .menu-item-25327 a{padding-left:8px; padding-right:8px; margin-left:-8px; background:url(../images/i_tickets.png) no-repeat 0 14px;}
.menu ul .menu-item-45{width:124px;}
.menu ul .menu-item-43{width:86px;}
.menu ul .menu-item-68175{width:83px;}
.menu ul .menu-item-46{width:109px;}
.menu ul .menu-item-47899{width:100px;}
.menu ul .menu-item-47899 a{padding-left:9px; padding-right:9px; margin-left:-9px; background:url(../images/i_shop.svg) no-repeat 0 12px; background-size:82px 28px;}
.menu ul .menu-item-47899 a:hover{color:#da415e;}
.menu ul .menu-item-48879{width:84px;}
.menu ul .menu-item-75679{width:96px;}
.menu ul .menu-item-53286{width:54px;}
.menu ul .menu-item-53286 a{color:#da415e;}
.menu ul .menu-item-53286 a:hover{color:#068db6;}

/* 66 58 88 50 79 75 78 65 49 21 54 = 683-930 = 247 +24 (7) 930 пикселей menu */
/* 66 58 88 50 48 75 78 65 49 21 54 = 683-930 = 247 +24 (7) пункты меню без отступов  48 */
/* 66 58 88 50 48 74 65 49 61 54 = 930 - 613 = 317 / 9 | */
.menu ul .current-menu-item a{color:#068db6;}
.menu ul .menu-item-47899_2 a{color:#666666;}

.menu ul .menu-item-54{display:none;}
.menu ul .menu-item-21090{display:none;}

.sub-menu{display:none;}

/* slidebar */
.overlay{min-height:100%; background:#000; opacity:0.5; position:fixed; left:0px; top:0px; width:100%; z-index:998; display:none; cursor:pointer;}

.icon-menu{background:url(../images/i_menu.svg) no-repeat 0 0; width:50px; height:50px; position:relative; cursor:pointer; float:left; margin:-9px 11px 0 -11px; display:none;}
.slidebar-act{overflow:hidden;}
.slidebar-act .menu-sidebar{margin-left:0; overflow:auto;}
.slidebar-act #wrapper{overflow:hidden; margin-left:270px;}

.slidebar-act .overlay{display:block;position:absolute;}
.slidebar-act .litres-block, .slidebar-act .new-header{min-width:320px;}

.menu-sidebar{background:#282a31; width:270px; height:100%; position:absolute; top:0; left:0; margin-left:-270px; transition:margin-left 0.35s ease 0s; color:#fff; z-index:999; font-size:14px;}
.menu-sidebar a{color:#fff; text-decoration:none; }
.menu-sidebar .wr-top{padding:20px 20px 20px 20px; background:rgba(22, 27, 35, 0.5);  background:#efeee9;}
.menu-sidebar .wr-bottom{padding:20px; padding-bottom:60px;}

.menu-sidebar .wr-bottom .menu{height:auto; text-align:left; padding-bottom:10px;}
.menu-sidebar .wr-bottom .menu ul li{float:none; width:auto !important; display:block;  border-bottom: 1px solid #514f55;}
.menu-sidebar .wr-bottom .menu ul li:last-child{border-bottom:none;}
.menu-sidebar .wr-bottom .menu ul li a{margin-left:0 !important; display:inline-block; vertical-align:top;}

#wrapper{background:#fff;}

.content{padding:0 0 10px 0;}
.content:after{content:"";display:block;clear:both;}
.content ul{margin:0 0 0 13px;}
.content ul li{padding:0 0 7px 0}

.block_left{float:left; width:610px; padding:0 0 20px 0;}
.blc{width:610px !important;}
.blr{float:left; width:280px; padding:0 0 0 30px;}
.block_right{float:right; width:280px; padding:0 0 20px 0; position:relative; z-index:1;}

.n-item h3, .n-item .h3{color:#da415e; font-size:11px; line-height:11px; padding:0 0 10px 0; letter-spacing:0.1em; text-transform:uppercase;}
.n-item h3 a, .n-item .h3 a{color:#da415e;}
.n-item h3 a:hover, .n-item .h3 a:hover{color:#068db6;}
.n-item img{display:block;}

/* item rows */
.section_list{position:relative; margin:0 -50px 0 -25px;}
.section_list ul{margin:0; padding:0; list-style:none;} /* font-size:0; line-height:0; */
.section_list ul li{margin:0; padding:0; display:inline-block; vertical-align:top; width:325px;}
.section_list ul li .row{padding:0 25px 25px 25px; transition: all 0.4s linear;}
.section_list ul li .row:after{content:""; clear:both; display:block;}
.section_list ul li .row .img{display:block; margin:0 0 8px 0; border-radius:4px; position:relative; max-width:275px; overflow:hidden;}
.section_list ul li .row .img img{display:block; float:none; max-width:275px; border-radius:4px; height:auto;}
.section_list ul li .row .img b{visibility:hidden; opacity:0; transition: all 0.4s linear; position:absolute; height:100%; width:100%; top:0; left:0; z-index:1; border-radius:4px;}
.section_list ul li .row .rubric{font-size:11px; font-family:'gotham_promedium', Verdana; padding:0 0 5px 0; letter-spacing:0.1em; text-transform:uppercase;}
.section_list ul li .row .rubric a{color:#078db7;}
.section_list ul li .row .date{font-size:11px; color:#999; padding:0 0 5px 0;}
.section_list ul li .row .name{font-size:16px; padding:0 0 7px 0; line-height:18px;}
.section_list ul li .row .name a{color:#303030;}
.section_list ul li .row .name a:hover{color:#068db6;}
.section_list ul li .row .intro{color:#464646; font-size:12px;}
.section_list ul .small .row .img{float:left; margin-right:10px; margin-bottom:0px; height:47px; width:47px; overflow:hidden; border-radius:4px; padding:0;}
.section_list ul .small .row .img img{ height:47px; margin:0; border-radius:0;}
.section_list ul li .row:hover{opacity:0.8;}
.section_list ul li .row:hover a{color:#068db6;}
.section_list ul .small .row .desc{height:47px; vertical-align:middle; display:table-cell;}
.section_list ul .small .row .name{overflow:hidden; display:block; font-size:12px; line-height:15.75px; padding:3px 0}
.section_list ul .small .row .name .date{font-size:11px; color:#999; padding:2px 0 2px 0; display:block;}
.section_list iframe{display:none;}

.section_list .tiles3 li{margin:0; padding:0; display:inline-block; vertical-align:top; width:244px;}
.section_list .tiles3 li .row .img{overflow:visible; width:200px;}
.section_list .tiles3 li .row .img img{max-width:200px;}

/*
@media screen and (max-width:3000px){
	.section_list .tiles{}
	.section_list .tiles li{display:block; width:auto;}
}
*/

.section_contest_act .tiles2{min-height:300px;}

.section_notices{padding:0; margin:0 -25px;}
.section_notices ul{font-size:0;}
.section_notices ul li .row .name{padding-bottom:5px;}
.section_notices ul li .row .intro{padding-bottom:5px;}

.concert_last{padding:0 0 5px 0;}
.concert_last .item{padding:0 0 10px 0;}
.concert_last .item p{padding:0;}
.concert_last .item  .buy{float:right; color:#484747; border:0px solid #484747; text-align:center; padding:0 5px 0 5px; margin:1px 0 0 0; line-height:13px; height:13px; font-size:12px; background:url(../images/btn_buy.png) no-repeat 0 0; text-indent:-9999px; width:82px; height:15px;}
.concert_last .item  .buy:hover{background-position:0 -16px;}
.concert_last .item .name{font-size:16px; color:#303030; line-height:18px; padding:0 0 5px 0;}
.concert_last .item .time{color:#464646; display:inline-block; vertical-align:top; width:40px; font-size:12px;}
.concert_last .item .club{color:#464646; font-size:12px; display:inline-block; vertical-align:top;}

.concurs_last{padding:0 0 10px 0;}
.concurs_last .item{padding:0 0 0 0; font-size:12px;}
.concurs_last .item a{padding:0 0 10px 40px; display:block; margin:0 0 10px 0;}
.concurs_last .type0, .concurs_last .type{background:url(../images/i_disc.png) no-repeat 0 0;}
.concurs_last .type1{background:url(../images/i_ticket.png) no-repeat 0 0; min-height:20px;}


.music_player{padding:0 0 20px 0;}

.reviews_mini{padding:0 0 15px 0;}
.reviews_mini .item, .reviews_mini .row{overflow:hidden; padding:0 0 10px 0;}
.reviews_mini p{padding:0;}
.reviews_mini .img{float:left; width:57px;}
.reviews_mini .img img{border-radius:4px; width:47px; height:auto;}
.reviews_mini .desc{overflow:hidden;}
.reviews_mini .desc .name{font-size:16px; line-height:18px; padding:0 0 4px 0;}
.reviews_mini .desc .intro{color:#464646; font-size:12px; padding:0 0 4px 0;}


.leaks_mini{padding:0 0 15px 0;}
.leaks_mini .item{overflow:hidden; padding:0 0 10px 0;}
.leaks_mini p{padding:0;}
.leaks_mini .img{float:left; width:57px;}
.leaks_mini .img img{border-radius:4px; width:47px; height:auto;}
.leaks_mini .desc{overflow:hidden;}
.leaks_mini .desc span{display:block;}
.leaks_mini .desc .album{color:#464646; font-size:12px; padding:0 0 4px 0;}
.leaks_mini .desc .group{font-size:16px; line-height:18px; padding:4px 0 4px 0;}

.stars .vote{float:left; width:12px; height:12px; background:url(../images/i_stars.png) no-repeat -18px 0; margin-right:5px; display:block;}
.stars .vote span{background:url(../images/i_stars.png) no-repeat -18px 0; width:100%; height:12px; display:block;}
.stars .v_act span{background-position:0 0;}
.stars .v_half span{background-position:0 0; width:50%;}
.stars .v_act, .stars .v_half{display:block;}
.stars .active{background-position:-18px 0;}

.banner_t{height:100px; transition:all 0.3s ease 0s; max-width:930px; background:#ecf8fc;}
.banner_t img{display:block; border-radius:4px; width:930px; height:100px; box-sizing:border-box;}
.banner_t:hover{opacity:0.8;}

.banner_r{margin-bottom:20px; overflow:hidden;}
.banner_r img{max-width:280px; border-radius:4px; box-sizing:border-box; display:block;}
.advert_google{border-radius:4px; box-sizing:border-box;}
.advert_google iframe{border-radius:4px;}

.bnews .row{padding:0 0 20px 0; font-size:12px;}
.bnews .row:after{content:"";clear:both; display:block;}
.bnews .row a{display:block;}
.bnews .row .img{float:left; border-radius:4px; margin-right:10px; height:47px; width:47px; overflow:hidden;}
.bnews .row img{float:left; height:47px;}
.bnews .row .desc{overflow:hidden; display:block; text-align:left; height:47px; vertical-align:middle; display:table-cell;}
.bnews .row .desc .date{font-size:11px; color:#999; padding:2px 0 2px 0; display:block;}

.bdetails{padding:0; font-family:'gotham_proregular', Verdana; color:#303030;}
.bdetails .date{color:#464646; padding:0 0 10px 0; line-height:11px;}
.bdetails h1{font-size:20px; padding:0 0 15px 0;}
.bdetails .stars{padding:0; margin:-5px 0 25px 0;}
.bdetails .stars:after{content:""; clear:both; display:block;}
.bdetails p{line-height:22px; padding-left:0;}
.bdetails p:first-child span, .bdetails p:first-child span + br{display:none;}
.bdetails .bimg{padding:5px 0 12px 0;}
.bdetails .bimg img, img.alignnone{border-radius:4px;}
.bdetails a{color:#007ab3;}
.bdetails a:hover{color:#404040;}
.bdetails .post_content{padding:0 0 20px 0; padding:0 0 5px 0;}

.bdetails i, .bdetails em{font-family:'gotham_proitalic' !important, Verdana; font-style:normal !important;}

.quote{background:url(../images/quote.png) no-repeat 0 6px; padding:0 0 0 50px; display:block; min-height:30px;}
.gray{color:#5f5f5f;}


.tags{border-bottom:1px solid #7b7b7b; padding:0 0 13px 0; margin:0 0 20px 0; font-size:12px;}
.tags h3, .tags .h3{font-size:11px; text-transform:uppercase; color:#303030; padding:0 0 10px 0; line-height:11px; letter-spacing:0.1em;}
.tags a{color:#068db6; margin:0; display:inline-block; vertical-align:top;}
.tags .qt{margin-right:10px; display:inline-block; vertical-align:top;}

.relative_news{margin-bottom:-5px;}
.relative_news .row{padding:0 0 0 50px; display:inline-block; vertical-align:top; width:275px;}
.relative_news .row{padding:0 0 25px 0;}
.relative_news .row:after{content:"";clear:both; display:block;}


.comments h3, .comments .h3{color:#da415e; font-size:11px; padding:0 0 10px 0;}


.bannerHeader{height:275px;position:relative; width:100%;padding:0px;overflow:hidden; text-indent:-9999px;}
.bannerHeader a{display:block;overflow:hidden;width:100%;height:275px;}/*то, что стало после... */

/* page events */
.breadcrumbs{padding-bottom:20px; font-family:'gotham_proregular', Verdana; font-size:12px; color:#747474;}

.details_page{padding:0 0 20px 0;}
.details_page:after{content:"";clear:both; display:block;}

.socials{margin:-10px 0 15px 0;}
.socials a:hover{opacity:0.8;}
.socials .social_shape .at300b{padding:0 4px 0 0;}
.socials .social_shape img{min-width:initial;max-width:100%; width:auto; height:32px;}

/********* cms style *********/
.pagination{text-align:center; padding:0 0 20px 0;}
.pagination .wp-pagenavi a, .pagination .wp-pagenavi span{display:inline-block; vertical-align:top;padding:0 2px;margin:0; border:none; min-width:25px; height:29px; line-height:29px; border-radius:29px; border:none; font-size:14px; text-align:center; color:#000; }
.pagination .wp-pagenavi a:hover{color:#068db6;}
.pagination .wp-pagenavi span.current{font-weight:normal; color:#098db6; background:url(../images/i_pn_h.png) no-repeat 0 0;}
.pagination .wp-pagenavi .pages{display:none;}



.cat_parent{margin-bottom:15px;}
.cat_parent:after{content:"";clear:both; display:block;}
.cat_parent ul{margin:0;padding:0;}
.cat_parent ul li{list-style:none;float:left;margin-right:20px;}
.cat_parent ul li.current-cat a{color:#119dcf;}
.cat_parent ul li a{font-size:14px;color:#000;text-decoration:none;}
.cat_parent ul li a:hover{text-decoration:underline;}

/* page groups */

.csearch{width:100%; position:relative; padding:0 0 20px 0;}
.csearch .inp{background:#e2f1f6; height:28px; line-height:28px; font-size:14px; border:none; border-radius:4px; text-indent:15px; width:100%; color:#546970; font-family:'gotham_promedium', Verdana;}
.csearch .submit{position:absolute; right:8px; top:5px; z-index:10;}

.group-alfa{margin-bottom:20px;}
.group-alfa a{background:#9d9d9d; color:#FFFFFF; text-transform:uppercase; float:left; width:15px; height:20px; line-height:20px; font-size:12px; text-align:center; text-decoration:none; margin:0 0 0px 5px;}
.group-alfa a:hover, .group-alfa .active{background:#0086c5;}
.group-alfa .row{position:relative; width:100%; padding-bottom:5px;}
.group-alfa .row:after{content:""; clear:both; display:block;}
.group-alfa .row a:first-child{margin-left:0px;}

.group-list{margin-bottom:20px; border-bottom:1px solid #bcbcbc; margin-right:20px; min-height:300px;}
.group-list:after{content:""; clear:both; display:block;}
.group-list .left{float:left; width:115px;}
.group-list .right{overflow:hidden;}
.group-list .right:after{content:""; clear:both; display:block;}

.group-list ul{margin:0 0 10px 0; padding:0; list-style:none; position:relative; width:100%;}
.group-list ul:after{content:""; clear:both; display:block;}
.group-list ul li{margin:0px; padding:0px; float:left; width:138px; font-size:12px; border-bottom:1px dotted #000; margin-left:20px;}
.group-list ul li a{color:#303030; text-decoration:none; display:block;padding:4px 0 5px 0px; overflow:hidden;white-space:nowrap; text-overflow:ellipsis;-webkit-text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.group-list ul li a:hover{color:#019de1;}


.gr-first{padding-bottom:20px;}
.gr-first .desc{background:#00a5d8; font-size:12px; text-align:center; padding:5px 5px 5px 5px; margin-bottom:10px; color:#fff; border-radius:4px;}
.gr-first .name{padding:5px 10px 5px 10px;}
.gr-first .name a{color:#00a5d8;}
.gr-first .name a:hover{color:#303030;}
.gr-first .img img{width:115px; border-radius:4px;}

.gr-search{padding-bottom:20px;}
.gr-search .input{float:left; border:1px solid #9d9d9d; width:83px; padding:0 0 0 10px;}
.gr-search .input input{width:100%; border:none medium; background:transparent; height:20px; line-height:20px; font-size:11px; color:#303030;}
.gr-search .input{float:left;}
.gr-search .submit{float:left;}
.gr-search .submit input[type="submit"]{background:url(/wp-content/themes/ModernRock/images/icon/search.png) 0 0 no-repeat;border:0;width:25px;height:24px;cursor:pointer;}

.pagelist{float:right; padding-bottom:20px;}
.pagelist span{float:left; height:24px; line-height:24px; padding:0 5px;}
.pagelist .prev_gr, .pagelist .next_gr{float:left; width:24px; height:24px;}
.pagelist .prev_gr{background:url(/wp-content/themes/ModernRock/images/icon/barl.png) no-repeat 0 0;}
.pagelist .next_gr{background:url(/wp-content/themes/ModernRock/images/icon/barr.png) no-repeat 0 0;}

.m-vote{padding-bottom:20px; font-size:13px;}
.m-vote .name{font-size:16px; color:#303030; padding-bottom:10px;}
.m-vote .radio{color:#303030; padding-bottom:10px;}
.m-vote .radio .row{padding-bottom:6px;}
.m-vote .submit input{font-size:12px; text-transform:uppercase; color:#FFFFFF; background:#9d9d9d; height:25px; width:140px; border:none medium;cursor:pointer;}

.banners-l{padding-bottom:20px; padding-top:20px;}
.vk-comment{padding-bottom:20px;}


.events-top{padding-bottom:30px; margin-right:20px; }
.events-top:after{content:""; clear:both; display:block;}
.events-top .left{float:left; width:280px;}
.events-top .right{float:right; width:200px; padding-top:30px;}

.calendar{overflow:hidden;height:127px;width:265px;position:relative; float:right;}
.calendar .prev, .calendar .next{position:absolute; top:5px; cursor:pointer; z-index:100; font-size:14px;}
.calendar .prev a, .calendar .next a{color:#000000;}
.calendar .prev{left:0px; text-align:left;}
.calendar .next{right:0px; text-align:right;}


.calendar .month .name{font-size:18px; text-align:center; padding-bottom:5px;} 
.calendar .month .name a{color:#000000;}
.calendar .month .name a:hover{color:#019de1;}

.calendar td{height:21px; vertical-align:middle; text-align:center; font-size:12px; color:gray;}
.calendar .weeks{color:#FF4729;}

.ev-top .title{font-size:20px; color:#303030; padding-bottom:10px;}
.ev-top .img{padding-bottom:5px;}
.ev-top .img img{border:3px solid #6eafff;}
.ev-top .name{padding-bottom:10px;}
.ev-top .name a{color:#343434; font-size:12px;}

.events-list{margin-right:0px; font-family:'gotham_promedium',Verdana;}
.events-list .item{border-top:1px dotted #9E9E9E; padding:15px 0 5px 0px;}
.events-list .item:first-child{border-top:none medium;}
.events-list .item:after{content:""; clear:both; display:block;}

.events-list .date{width:100px; float:left; text-align:center; margin-right:25px; line-height:normal;}
.events-list .date .number{font-size:53px; line-height:53px; margin-top:-6px;}
.events-list .date .month{font-size:16px; font-weight:bold;}
.events-list .date .days{font-size:12px; font-weight:bold;}
.events-list .weeks{color:#FF5868;}

.events-list .row{font-size:16px;padding-bottom:15px; position:relative; margin:0 0 0 125px;}
.events-list .row .event{float:left; width:280px; padding-right:10px; overflow:hidden;white-space:nowrap; text-overflow:ellipsis;-webkit-text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.events-list .row a{font-style:normal; color:#333;}
.events-list .row  a:hover{color:#019de1; border:none;}
.events-list .row .event  .buy{float:left; background:url(../images/buy.png) no-repeat; width:19px; height:19px; position:absolute; left:-26px; border:none; cursor:pointer; transition:all 0.3s ease 0s;}
.events-list .row .event  .buy:hover{opacity:0.8;}
.events-list .row .club{padding-left:5px; overflow:hidden;}
.events-list .row .club > span{display:block;}
.events-list .row .club .time{width:60px; float:left; text-align:left; color:#019de1;}
.events-list .row .club .name{font-size:13px; color:#464646; margin-left:65px;}

/* cms comments */
#commentform{background:#F7F7F7;padding:30px 10px 10px 10px;position:relative; overflow:hidden;margin-bottom:20px;}
#commentform h3, #commentform .h3{background:#DAE2E8;padding:4px 4px 4px 6px;position:absolute;font-size:12px; text-transform:none;width:100%;left:0;top:0; color:#303030;}
#commentform .avatar{float:left;width:50px;margin-right:15px; position:absolute;}
#commentform .avatar img{width:100%;}
#commentform .addcomment{margin:0 0 0 65px;}
#commentform textarea{background:white;font-family:tahoma, tahoma, verdana, "Trebuchet MS",Helvetica,sans-serif, sans-serif, Lucida Sans;margin:0px;font-size:1.09em;border:0;padding:3px 0;outline:0;resize:vertical;overflow:hidden;color:#777;background-color:white;height:56px;width:100%;border:1px solid gray;}
#commentform input[type="submit"]{font-size:1.09em;border-top-color:#789ABF;border-bottom-color:#5980A9;border-left-color:#5980A9;border-right-color:#5980A9;color:white;text-shadow:0 1px 0 #45688E;background:url(/wp-content/themes/ModernRock/images/button_vk.png) #6181A6 repeat-x top;border:1px solid;margin:0px;cursor:pointer;white-space:nowrap;outline:none;padding:4px 14px 4px;font-family:tahoma, verdana, "Trebuchet MS",Helvetica,sans-serif, sans-serif, Lucida Sans;overflow:visible;}
#commentform input[type="submit"]:hover{background-position:0px -8px;}

.item-comment{border-bottom:1px solid #DAE1E8;padding-bottom:10px;margin-bottom:20px;}
.item-comment .img{float:left;width:50px;margin-right:15px;}
.item-comment .img img{width:100%;}
.item-comment .comments{overflow:hidden;}
.item-comment .comments .author{font-weight:bold;line-height:140%; color:#068db6;text-decoration:none;font-size:12px;margin-bottom:5px;}
.item-comment .comments .author:hover, .item-comment .comments .date:hover{text-decoration:underline;}
.item-comment .comments .date{text-decoration:none;color:#999;font-size:12px;}


/* tickets page */
.tk-land{padding:0 0 20px 0;}
.tk-land:after{content:"";clear:both; display:block;}
.tk-land form{float:right;}
.cusel{position:relative; outline:none;}
.cuselText{border:1px solid #979797; height:22px; line-height:22px; padding:0 25px 0 8px; font-size:12px; border-radius:4px; cursor:pointer;}
.cuselFrameRight{background:url('../images/i_select-ar.png') no-repeat 0 0; width:12px; height:6px; position:absolute; right:8px; top:10px; cursor:pointer;}
.cuselOpen .cuselFrameRight{background-position:0 -6px;}
.cuselOpen .cusel-scroll-wrap{position:absolute; z-index:99; width:100%;}
.cuselOpen .cusel-scroll-pane > span{border:1px solid #979797; background:#fff; height:22px; line-height:22px; padding:0 25px 0 8px; font-size:12px; border-radius:4px; cursor:pointer; display:block; margin:2px 0 0 0;}
.cuselOpen .cusel-scroll-pane > span:hover{background:#00a5d7; border-color:#00a5d7; color:#fff;}
.cuselOpen .cusel-scroll-pane .cuselActive{background:#00a5d7; border-color:#00a5d7; color:#fff; display:none;}

.tk-calendar{float:left; padding:5px 0 0 0;}
.tk-calendar a{background:url("../images/i_cal.svg") no-repeat 0 0; display:inline-block; vertical-align:top; padding:0 0 0 23px;}

.tickets h3, .ticket_list h3, .tickets .h3, .ticket_list .h3{color:#068db6; font-size:14px; line-height:18px; padding:0 0 10px 0; letter-spacing:0.05em;}
.ticket_list h3, .ticket_list .h3{text-transform:uppercase;}
.tk-top{overflow:hidden; padding-bottom:15px;}
.tk-recommended{float:left; width:560px; overflow:hidden; border-radius:4px;}
.tk-recommended h3, .tk-recommended .h3{color:#da415e; padding:0 0 12px 0;}

.last-tickets{float:right; width:325px;}
.last-tickets .row{border-bottom:1px solid #469fc1; font-size:12px; line-height:12px; color:#000; padding-bottom:10px; margin-bottom:10px;}
.last-tickets .row:after{content:"";clear:both; display:block;}
.last-tickets .row .group{color:#068db6; margin:0 0 8px 0;}
.last-tickets .row .group a{color:#068db6; text-decoration:none;}
.last-tickets .row .club{float:left; width:155px; padding-right:10px;}
.last-tickets .row .club a{color:#000;}
.last-tickets .row .club a:hover{color:#068db6;}
.last-tickets .row .date{float:left; width:70px;}
.last-tickets .row .time{float:right; text-align:right; width:40px;}

.cat_type{margin:0 0 30px 0;}
.cat_type h3, .cat_type .h3{color:#068db6; font-size:14px; line-height:18px; padding:0 0 10px 0; letter-spacing:0.05em;}
.cat_type:after{content:"";clear:both; display:block;}
.cat_type ul{margin:0 -5px;padding:0; list-style:none;}
.cat_type ul li{float:left; font-size:14px; padding-right:19px;}
.cat_type ul li a{color:#1e1e1e; font-size:14px; text-decoration:none; border-radius:4px; padding:0 5px; line-height:22px; display:block;}
.cat_type ul li a:hover{color:#00a5d8;}
.cat_type ul .active a, .cat_type .current-cat a{color:#fff; background:#00a5d8;}
.cat_type ul .active a:hover, .cat_type .current-cat:hover a{color:#fff;}

.cat-item-1 a{width:26px;}
.cat-item-2876 a, .cat-item-3051 a{width:72px;}
.cat-item-2877 a, .cat-item-3052 a{width:104px;}
.cat-item-2878 a, .cat-item-3053 a{width:70px;}
.cat-item-2879 a, .cat-item-3054 a{width:66px;}
.cat-item-2880 a, .cat-item-3055 a{width:48px;}
.cat-item-2881 a, .cat-item-3056 a{width:30px;}
.cat-item-2882 a, .cat-item-3057 a{width:29px;}
.cat-item-2883 a, .cat-item-3058 a{width:97px;}
.cat-item-2884 a, .cat-item-3059 a{width:60px;}
.cat-item-2885 a, .cat-item-3060 a{width:38px;}
.cat_type ul .cat-item-2885, .cat_type ul .cat-item-3060{padding-right:0;}

.ticket_list{font-size:0; line-height:0;}
.ticket_list:after{content:"";clear:both; display:block;}
.ticket_list h3, .ticket_list .h3{padding-bottom:20px;}
.ticket_list .item{display:inline-block; vertical-align:top; width:50%; padding:0 10px 0 0; line-height:normal; font-size:14px; box-sizing:border-box;}
.ticket_list .item .img{float:left; border-radius:4px; width:165px; overflow:hidden; position:relative;}
.ticket_list .item .img img{width:165px; border-radius:4px; display:block;}
.ticket_list .item .desc{margin:-2px 15px 0 190px; min-height:125px;}
.ticket_list .item .desc .name{font-size:16px; color:#000; line-height:18px; padding-bottom:7px;}
.ticket_list .item .desc .name a{font-size:16px; color:#000; text-decoration:none;}
.ticket_list .item .desc .name a:hover{color:#00a5d8;}
.ticket_list .item .desc .type{font-size:12px; color:#747474; padding-bottom:10px;}
.ticket_list .item .desc .type a{font-size:12px; color:#747474; text-decoration:none;}
.ticket_list .item .desc .type a:hover{color:#00a5d8;}
.ticket_list .item .desc .club{background:url(../images/i_location.png) no-repeat 0 0; padding:0 0 10px 20px; font-size:12px; color:#000;}
.ticket_list .item .desc .date{background:url(../images/i_date.png) no-repeat 0 2px; padding:0 0 8px 20px; font-size:12px; color:#000;}
.ticket_list .item .desc .price{font-size:11px; padding:0 0 2px 20px;}
.ticket_no{line-height:normal; font-size:12px;}
.r_ticket .item{width:100%;}

.ticket_list_cont{padding:0 0 20px 0;}
.ticket_list_cont .item{padding:0 10px 10px 0;}
.ticket_list_cont .item .img{width:140px; margin-right:8px; border:1px solid #eee;}
.ticket_list_cont .item .img img{width:140px; max-height:80px; min-width:100%;}
.ticket_list_cont .item .desc{margin:0; min-height:auto; height:80px; display:table-cell; vertical-align:middle;}
.ticket_list_cont .item .desc > div:last-child{padding-bottom:0 !important;}
.ticket_list_cont .item .desc .name{font-size:14px; font-weight:bold;}
.ticket_list_cont .item .desc .date{line-height:16px;}
.ticket_list_cont .item .desc .date a{color:#000;}
.ticket_list_cont .item .desc .date a:hover{color:#00a5d8;}
.ticket_list_cont .item .desc .club{padding-bottom:2px;}

.ticket_list_cont2{padding:0 0 20px 0; font-size:14px; line-height:normal;}
.ticket_list_cont2 .row{padding:0 0 5px 0;}
.ticket_list_cont2 .row{font-size:12px;}
.ticket_list_cont2 .row a{color:#000;}
.ticket_list_cont2 .row a:hover{color:#00a5d8;}

.d_interview .ticket_list_cont .item .desc .date{padding:0; background:none;}


.one_ticket{padding:0 0 25px 0; margin-top:-8px; font-family:'gotham_promedium', Verdana;}
.one_ticket:after{content:"";clear:both; display:block;}
.one_ticket .img{float:left; width:250px; max-height:350px; overflow:hidden; border-radius:4px; margin-top:8px;}
.one_ticket .img img{width:250px; height:auto; border-radius:0 0 4px 4px;}

.one_ticket .desc{margin:-7px 0 0 275px;}
.one_ticket .desc h1, .one_ticket .desc .h1{padding:0 0 2px 0;}
.one_ticket .desc .h1 a{color:#303030;}
.one_ticket .desc .h1 a:hover{color:#00a5d8;}
.one_ticket .desc .type{font-size:12px; color:#747474; padding-bottom:9px;}
.one_ticket .desc .type a{font-size:12px; color:#747474; text-decoration:none;}
.one_ticket .desc .type a:hover{color:#00a5d8;}
.one_ticket .desc .club{background:url(../images/i_location.png) no-repeat 0 1px; padding:0 0 12px 20px; font-size:12px; color:#000;}
.one_ticket .desc .club a{color:#303030;}
.one_ticket .desc .club a:hover{color:#00a5d8;}
.one_ticket .desc .date{background:url(../images/i_date.png) no-repeat 0 0; padding:0 0 10px 20px; font-size:12px; color:#000;}
.one_ticket .desc .price{padding:0 0 8px 20px; font-size:12px; color:#000;}

.one_ticket .buy{font-size:14px; color:#fff; margin-left:20px; margin-bottom:5px;}
.one_ticket .buy a:hover, .one_ticket .buy button:hover{opacity:0.8;}
.one_ticket .buy a, .one_ticket .buy button{color:#fff; display:inline-block; vertical-align:middle; line-height:24px; font-size:14px; color:#fff; width:130px; background:#00a5d8; border-radius:4px; border:none; cursor:pointer; text-align:center; margin:0 10px 15px 0;}
.one_ticket .buy a, .one_ticket .buy button{background:#0e920e;}
.one_ticket .buy.kassir{padding-top:12px;}
.one_ticket .buy.kassir a, .one_ticket .buy.kassir button{background:#ffc627;}
.one_ticket .buy.redkassa a, .one_ticket .buy.redkassa button{background:#da415e;}
.one_ticket .desc .service_type{display:inline-block; vertical-align:middle; color:#000; padding:0 0 15px 0;}

/* tickets */
.ticket_list .desc .price{padding:0 0 8px 20px !important; font-size:12px !important; color:#000;}
.ticket_list .buytickets{padding-top:15px;} 
.ticket_list .buy{font-size:13px; color:#000; margin-bottom:15px; font-family:'gotham_promedium',Verdana;}
.ticket_list .buy a, .ticket_list .buy button{color:#fff; display:inline-block; vertical-align:middle; line-height:30px; font-size:14px; color:#fff; width:142px; background:#00a5d8; border-radius:4px; border:none; cursor:pointer; text-align:center; background:#0e920e; margin-right:10px;}
.ticket_list .buy a:hover, .ticket_list .buy button:hover{opacity:0.8;}

.ticket_list .buy.kassir a, .ticket_list .buy.kassir button{background:#ffc627;}
.ticket_list .buy.redkassa a, .ticket_list .buy.redkassa button{background:#da415e;}
.redkassa_buy{margin:0 auto; max-width:610px;}
.redkassa_buy iframe{height:660px;}
#slider{position:relative; height:200px; width:100%; border-radius:4px; overflow:hidden;}
.sl_txt{display:none;}

.nivo-caption{position:absolute;left:0; bottom:0; z-index:9; width:100%; height:53px; opacity:1 !important;}
.nivo-caption p{background:#fff; height:53px; border-radius:0 0 4px 4px;}
.nivo-caption .line{height:53px; float:left; width:420px; padding-left:18px; background:#00a5d8; font-size:12px; line-height:12px; color:#fff; border-radius:0 0 0 4px;}
.nivo-caption .line > span{display:block;}
.nivo-caption .line a{color:#fff;}
.nivo-caption .line .group{font-size:16px; padding-top:10px; padding-bottom:8px;}
.nivo-caption .line .club{float:left; width:140px;}
.nivo-caption .line .date{float:left; width:100px;}
.nivo-caption .line .time{float:left; width:40px;}

.nivo-caption  .buy{position:absolute; right:0; top:0; height:53px; float:right; width:120px; background:#ec063b; text-align:center; border-radius:0 0 4px 0;}
.nivo-caption  .buy a{line-height:53px; display:block; font-size:12px; color:#fff;}

.nivo-controlNav{position:absolute; left:10px; bottom:10px; z-index:999; display:none;}
.nivo-controlNav a{width:12px;height:12px;margin:0 8px 0 0;cursor:pointer;background:url(../images/i_slider_ar.png) no-repeat -22px 0;text-indent:-9999px; float:left;}
.nivo-controlNav a:hover, .nivo-controlNav .active{background-position:0 0;}

.nivo-directionNav a{background:url(../images/i_slider_ar.png) no-repeat 0 0; position:absolute; width:15px; height:43px; top:55px; cursor:pointer; z-index:999; text-indent:-9999px;}
.nivo-directionNav a:hover{opacity:0.8;}
.nivo-directionNav .nivo-prevNav{left:12px;}
.nivo-directionNav .nivo-nextNav{right:12px; background-position:-14px 0;}

.tabs_s ul{margin:0;padding:0;list-style:none;}
.tabs_s ul li{cursor:pointer;margin:0;padding:0;}
.tabs_s ul li a{cursor:pointer;}
.tab-content{display:none}
.tc-act{display:block}

.b-recommend h3, .b-recommend .h3{color:#da415e; font-size:16px; line-height:14px; padding:0 0 20px 20px; letter-spacing:0.1em; text-transform:uppercase; background:url(../images/i_red_star.png) no-repeat 0 1px;}
.b-recommend .tabs_s{padding:0 0 10px 0;}
.b-recommend .tabs_s:after{content:"";clear:both; display:block;}
.b-recommend .tabs_s ul{margin:0 -5px;}
.b-recommend .tabs_s ul li{float:left; padding-right:18px;}
.b-recommend .tabs_s ul li a{font-size:11px; line-height:18px; text-transform:uppercase; font-weight:bold; display:block; border-radius:4px; padding:0 5px;}
.b-recommend .tabs_s ul .active a, .b-recommend .tabs_s ul a:hover{color:#fff; background:#00a5d8;}
.b-recommend .tabs_s .t1{width:54px;}
.b-recommend .tabs_s .t2{width:80px;}
.b-recommend .tabs_s .t3{width:76px;}
.b-recommend .tabs_s .t4{width:26px; padding-right:0;}

.b-recommend .reviews_mini .item{padding-bottom:20px;}

.subsform{padding:0 0 20px 0;}
.subsform h3, .subsform .h3{color:#da415e; font-size:16px; line-height:14px; padding:0 0 15px 0;}
.subsform:after{content:"";clear:both; display:block;}
.subsform form{position:relative;}
.subsform .input{display:block; border:1px solid #00a5d8; height:26px; border-radius:4px; margin-right:105px;}
.subsform .inp{border:none; background:#fff; height:26px; width:100%; border-radius:4px; text-indent:10px; font-size:12px; color:#5a5a5a;}
.subsform .submit{position:absolute; right:0; top:0; width:95px; height:28px; line-height:28px; font-size:10px; text-transform:uppercase; text-align:center; color:#fff; background:#00a5d8; float:right; cursor:pointer; border-radius:4px; border:none; transition:all 0.3s ease 0s;}
.subsform .submit:hover{background:#007ab3;}
.hide{display:none;}
.subsform .red{color:#da415e; font-size:11px; line-height:11px; padding:0; letter-spacing:0.1em; text-transform:uppercase;}
.subsform .error{border-color:#da415e;}

.stxt{position:static !important; padding:0 25px !important; width:500px !important;}
/* css used styles */


/* css mrok-slide */
.mrok-slide{width:600px;height:830px;margin:5px auto;position:relative;}
.mrok-slide > br, .mrok-slide > p{display:none;}
.mrok-slide .swiper-container{height:815px;width:600px;}
.mrok-slide .nav{background:url(../images/i_slider_ar.png) no-repeat 0 0; position:absolute; top:50%; top:293px; margin-top:-7px; width:15px; height:43px; z-index:10; cursor:pointer;}
.mrok-slide .nav:hover{opacity:0.8;}
.mrok-slide .prev{left:12px;}
.mrok-slide .next{right:12px; background-position:-14px 0;}

.mrok-slide .paginav{position:absolute;left:0;text-align:center;bottom:5px;width:100%; z-index:10; display:none;}
.mrok-slide .swiper-pagination-switch{display:inline-block;width:10px;height:10px;border-radius:10px;background:#999;box-shadow:0px 1px 2px #555 inset;margin:0 3px;cursor:pointer;}
.mrok-slide .swiper-active-switch{background:#fff;}

.mrok-slide .swiper-slide{position:relative;}
.mrok-slide .title{font-size:22px; padding:0 0 15px 0; line-height:24px;}
.mrok-slide .number{position:absolute; right:10px; top:5px; border-radius:60px; height:50px; width:50px; line-height:50px; background:#00a5d8; font-size:22px; color:#fff; text-align:center;}
.mrok-slide .img{padding:0 0 5px 0;}

/* seo txt */
.others_txt{border-top:1px solid #7b7b7b; padding:20px 0 13px 0; margin:0 0 20px 0; line-height:22px; font-size:14px; font-family:'gotham_proregular', Verdana; color:#303030;}

/* sounds */
.gr_sounds{padding:0 0 10px 0; margin:0 -20px;}
.gr_sounds ul{font-size:0;}
.gr_sounds  .tiles3 li{width:242px;}
.gr_sounds  .tiles3 li .row{padding-left:20px; padding-right:20px;}
.gr_sounds li .row .album{font-size:14px; padding:0 0 10px 0;}

.gr_sounds .tiles3 .gr_first{border-radius:4px; margin:0 25px 35px 25px; padding:0; width:auto; display:block; overflow:hidden;}  
.gr_sounds .tiles3 .gr_first .row{padding:18px 0 18px 170px;}

.gr_sounds .tiles3 .gr_first .row > a{display:block;}
.gr_sounds .tiles3 .gr_first .row span{display:block;}
.gr_sounds .tiles3 .gr_first .row .img img{max-width:285px;}
.gr_sounds .tiles3 .gr_first .row .img{float:left; width:285px; max-width:285px; margin:0 30px 0 0;}
.gr_sounds .tiles3 .gr_first .row .desc{overflow:hidden; height:285px; vertical-align:middle; display:table-cell;}

.gr_sounds .tiles3 .gr_first .row .album{color:#224c4c; font-size:32px; line-height:32px; padding:0 0 20px 0;}
.gr_sounds .tiles3 .gr_first .row .name{color:#3b6e6e; font-size:26px; line-height:26px; padding:0 0 15px 0;}
.gr_sounds .tiles3 .gr_first .row .name a{color:#3b6e6e;}
.gr_sounds .tiles3 .gr_first .row .genre{font-size:12px; color:#224c4c; padding:0 0 5px 0;}
.gr_sounds .tiles3 .gr_first .row .date{font-size:12px; color:#224c4c;}

.d_sounds{padding:0 0 15px 0;}
.sounds_album{padding:0 0 30px 0;}
.sounds_album .wrap{padding:20px 20px 20px 20px; overflow:hidden; border-radius:4px;}
.sounds_album .img{display:table-cell; vertical-align:middle; padding:0 30px 0 0;}
.sounds_album .img img{max-width:320px;}
.sounds_album .img .mr_sounds{text-align:center; padding:10px 0 0 0; display:block;}
.sounds_album .img .mr_sounds img{width:150px;}

.sounds_album .desc{display:table-cell; vertical-align:top; width:100%;}
.kname{font-size:25px; line-height:25px; color:#224c4c; padding:1px 0 15px 0;}
.kgenre{font-size:12px; color:#224c4c; padding:0 0 5px 0;}
.kdate{font-size:12px; color:#224c4c; padding:0 0 15px 0;}

.author_desc{padding:0 0 30px 0;}
.author_desc .img{display:table-cell; vertical-align:middle; padding-right:20px;}
.author_desc .desc{display:table-cell; vertical-align:middle;}
.d_sounds .author_desc .img img{border-radius:110px; min-width:100%; max-width:110px; width:auto;}
.author_desc .name{font-size:18px; padding:0;}
.author_desc .status{font-size:12px; color:#3d3d3d; padding:0;}

/* Leaks */
.leaks h1{padding:0 0 15px 0; letter-spacing:0.05em; text-transform:uppercase;}
.leaks h1 .c1{color:#da415e;}
.leaks_top{background:#f9f9f9; padding:20px 19px; border-radius:4px 4px 0 4px;}
.leaks_top ul{margin:0 -39px;padding:0; list-style:none; overflow:hidden; font-size:0;}
.leaks_top ul li{margin:0 39px;padding:0; display:inline-block; vertical-align:top; width:245px;}
.leaks_top .row .img{margin-bottom:8px; position:relative;}
.leaks_top .row .img img{max-width:245px; display:block; border-radius:4px;}
.leaks_top .row .link span{display:block;}
.leaks_top .row .link:hover{color:#068db6;}
.leaks_top .row .album{font-size:16px; color:#068db6; line-height:18px; padding-bottom:7px;}
.leaks_top .row .group{font-size:14px; color:#000; padding-bottom:7px;}
.leaks_top .row .year{font-size:12px; color:#464646; padding-bottom:0px;}
.leaks_top .row .type{font-size:12px;}
.leaks_top .row .type a{color:#464646;}
.leaks_top .row .type a:hover{color:#068db6;}

.leaks_bgr{background:url(../images/leaks.png) no-repeat right 0; height:52px;}

.leaks_list{padding:0 0 10px 0; margin:0 -20px;}
.leaks_list .tiles3 li{width:242px;}
.leaks_list .tiles3 .row:hover a{color:inherit;}
.leaks_list ul{font-size:0;}
.leaks_list ul li .row{padding-left:20px; padding-right:20px;}
.leaks_list ul li .row .link span{display:block;}
.leaks_list ul li .row .link{color:#000;}
.leaks_list ul li .row .link:hover{color:#068db6;}
.leaks_list ul li .row .album{font-size:16px; line-height:18px; padding-bottom:7px;}
.leaks_list ul li .row .group{font-size:14px; padding-bottom:7px;}
.leaks_list ul li .row .year{font-size:12px; color:#464646; padding-bottom:0px;}
.leaks_list ul li .row .type{font-size:12px;}
.leaks_list ul li .row .type a{color:#464646;}
.leaks_list ul li .row .type a:hover{color:#068db6;}

.d_leaks{padding:0 0 13px 0; margin:0 0 20px 0; border-bottom:1px solid #7b7b7b;}

.r_leaks{padding:0; margin:0 0 20px 0; border-bottom:1px solid #7b7b7b;}
.r_leaks h3, .r_leaks .h3{color:#068db6; font-size:14px; line-height:18px; padding:0 0 10px 0; letter-spacing:0.05em; text-align:left;}
.r_leaks ul li{display:block; width:100% !important;}
.r_leaks ul li:after{content:"";clear:both; display:block;}
.r_leaks ul li .row{padding:0 0 20px 0 !important;}
.r_leaks ul li .row .img{float:left; margin:0 25px 0 0; width:165px !important;}
.r_leaks ul li .row .img img{max-width:165px !important;}
.r_leaks ul li .row .desc{overflow:hidden;}
.r_leaks ul li .row .link{display:block; margin-top:-3px;}

.leaks_news{border-bottom:1px solid #7b7b7b; margin-bottom:20px;}
.txt_leaks{border:none; padding:0;}
.seo_txt{font-size:11px; padding:0 0 20px 0;}
.seo_txt2{font-size:13px; padding:10px 0 20px 0;}
.hcolor{background:#000; padding:5px 10px 5px 10px; line-height:18px; display:inline-block; vertical-align:top; text-transform:uppercase; margin:0 0 20px 0;}
.hcolor .bl{color:#00a5d8;}
.hcolor .wh{color:#fff;}

.cat_more-hide{height:317px; overflow:hidden; position:relative;}
.cat_more-hide:after{content:""; position:absolute; bottom:0; left:0; width:100%; background:url(../images/sd.png) repeat-x 0 0; height:50px;}
.txt_more{text-align:right; cursor:pointer; margin:-10px 0 25px 0; color:#068db6; font-size:14px; position:relative;}
.txt_more span{border-bottom:1px dotted #068db6;}


/* footer css */
footer{margin:0 -25px;}
footer .fline, footer .fmenu, .partners{padding:0 25px;}
footer .fline{background:#efefef; padding-top:15px; padding-bottom:15px;}
footer .fline:after{content:""; clear:both; display:block;}
footer .fline .flogo{float:left; width:190px; padding-top:0px;}
footer .fline .flogo a{display:block; width:170px; height:25px; background:url(../images/logo.png) no-repeat 0 0; background-image:url(../images/logo.svg); background-size:170px 25px;}
footer .fline .copyright{color:#464646; font-size:11px; margin:0 165px 0 190px;}
footer .social{float:right; width:155px; padding-top:0px;}
footer .social a{float:left; width:24px; height:24px; background:url(../images/i_social.png) no-repeat 0 0; margin-left:7px;}
footer .social .vk{background-position:0 0;}
footer .social .face{background-position:-33px 0;}
footer .social .you{background-position:-66px 0;}
footer .social .tw{background-position:-99px 0;}
footer .social .inst{background-position:-132px 0;}

.fmenu{text-align:left; background:#f8f8f8;}
.fmenu ul{margin:0 -10px; padding:15px 0 15px 0; list-style:none; text-align:left;}
.fmenu ul li{padding:0px 8px 0px 8px; display:inline-block; vertical-align:top; font-size:12px;}
.fmenu ul li a{color:#464646;}
.fmenu ul li a:hover{color:#068db6;}

.partners{text-align:center; max-width:860px; margin:0 auto; padding-top:15px; padding-bottom:5px;}
.partners a{display:inline-block; vertical-align:top; height:40px; width:40px; background:url(../images/parnters.png) no-repeat 0 0; margin:0 10px 15px;}
.partners .tonn16{width:72px; background-position:0 0;}
.partners .wm{width:53px; background-position:-100px 0;}
.partners .sm{width:36px; background-position:-185px 0;}
.partners .icd{width:35px; background-position:-261px 0;}
.partners .pn{width:118px; background-position:-337px 0;}
.partners .mf{width:74px; background-position:-489px 0;}
.partners .pe{width:43px; background-position:-594px 0;}
.partners .merc{width:64px; background-position:-668px 0;}
.partners .sts{width:34px; background-position:-759px 0;}
.partners .pil{width:41px; background-position:-822px 0;}
.partners .design_m{width:28px; background-position:-895px 0;}
.partners .sl{width:51px; background-position:-947px 0;}
.partners .red_club{width:50px; background-position:-1010px 0;}

.partners .eventation{width:38px; background-position:-1063px 0;}
.partners .line_up{width:71px; background-position:-1589px 0;}
.partners .nm_music{width:34px; background-position:-1670px 0;}
.partners .pop_farm{width:42px; background-position:-1714px 0;}
.partners .pushing_stone{width:38px; background-position:-1307px 0;}
.partners .spika{width:83px; background-position:-1355px 0;}
.partners .nca{width:52px; background-position:-1111px 0;}
.partners .kassir{width:132px; background-position:-1448px 0;}
.partners .northern_sound{width:124px; background-position:-1173px 0;}

.partners .tonn16:hover{width:72px; background-position:0 -46px;}
.partners .wm:hover{background-position:-100px -46px;}
.partners .sm:hover{background-position:-185px -46px;}
.partners .icd:hover{background-position:-261px -46px;}
.partners .pn:hover{background-position:-337px -46px;}
.partners .mf:hover{background-position:-489px -46px;}
.partners .pe:hover{background-position:-594px -46px;}
.partners .merc:hover{background-position:-668px -46px;}
.partners .sts:hover{background-position:-759px -46px;}
.partners .pil:hover{background-position:-822px -46px;}
.partners .design_m:hover{background-position:-895px -46px;}
.partners .sl:hover{background-position:-947px -46px;}
.partners .red_club:hover{background-position:-1010px -47px;}

.partners .eventation:hover{background-position:-1063px -49px;}
.partners .line_up:hover{background-position:-1589px -46px;}
.partners .nm_music:hover{background-position:-1670px -46px;}
.partners .pop_farm:hover{background-position:-1714px -46px;}
.partners .pushing_stone:hover{background-position:-1307px -46px;}
.partners .spika:hover{background-position:-1355px -46px;}
.partners .nca:hover{background-position:-1111px -46px;}
.partners .kassir:hover{background-position:-1448px -46px;}
.partners .northern_sound:hover{background-position:-1173px -46px;}

/* css service */
.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.clearfix{display:inline-block;}
button::-moz-focus-inner, input::-moz-focus-inner{padding:0;border:0;} /* firefox fix center text buttom */

/* default block hover */
header .logo a, footer .fline .flogo a, footer .social a{transition: all 0.4s linear;}
header .logo a:hover, footer .fline .flogo a:hover, footer .social a:hover{opacity:0.8; overflow:hidden;}
.banner_t img:hover, .banner_r img:hover{float:left;}

/* default animate images hover */
.one_ticket .img, .banner_t, .banner_r{position:relative; overflow:hidden;}
.one_ticket .img img, .banner_t img, .banner_r img{-moz-transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out; -webkit-transition: all 0.5s ease-out; transition:all 0.5s ease-out;}
.one_ticket .img a, .banner_t a, .banner_r a{transition:none;}
.one_ticket .img a:hover img, .banner_t a:hover img, .banner_r a:hover img{-webkit-transform: scale(1.02); -moz-transform: scale(1.02); -o-transform: scale(1.02); transform:scale(1.02);}

/* shadow hover */
.one_ticket .img a:after, .banner_r a:after{content:"";position:absolute; top:0;left:0; width:100%; height:100%; opacity:0; background:#000; -moz-transition: all 0.5s ease-out; -o-transition: all 0.5s ease-out; -webkit-transition: all 0.5s ease-out; transition:all 0.5s ease-out;}
.one_ticket .img a:hover:after, .banner_r a:hover:after{opacity:0.3;}

.section_list ul li .row .img b, .ticket_list .item .img b, .leaks_top .row .img b{visibility:hidden; opacity:0; transition: all 0.4s linear; position:absolute; height:100%; width:100%; top:0; left:0; z-index:1; border-radius:4px;
background: -moz-linear-gradient(left, #00ade3 0%, #f1043a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00ade3), color-stop(100%,#f1043a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #00ade3 0%,#f1043a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #00ade3 0%,#f1043a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #00ade3 0%,#f1043a 100%); /* IE10+ */
background: linear-gradient(to right, #00ade3 0%,#f1043a 100%); /* W3C */

}
.section_list ul li .row:hover .img b, .ticket_list .item:hover .img b, .leaks_top .row:hover .img b{visibility:hidden; opacity:0.35; visibility:visible;}


.block_popup{position:fixed; width:840px; top:50%; left:50%; margin:-295px 0 0 -420px; display:none; box-sizing:border-box; z-index:9999;}
.block_popup .wrapper_popup{min-height:550px; height:100%; background:#fff url(../images/loader.gif) center center no-repeat;}
.block_popup .close{position:absolute; top:10px; right:10px; width:26px; height:26px; cursor:pointer; background:#000;}
.block_popup .close:before, .block_popup .close:after{position:absolute; content:""; height:18px; width:2px; left:12px; top:4px; background:#fff; transition:all 0.3s ease 0s;}
.block_popup .close:hover:before, .block_popup .close:hover:after{opacity:0.8;}
.block_popup .close:before{transform:rotate(45deg);}
.block_popup .close:after{transform:rotate(-45deg);}
@media screen and (max-width:860px){
	.block_popup{width:100%; height:100%; top:0; left:0; margin:0;}
	.block_popup iframe{height:100% !important;}
}

.content .b_genre_list{list-style:none; margin:0; padding:0; border-top: 1px solid #514f55; margin:10px 0 0 0; padding:20px 0 0 0;}
.content .b_genre_list li{padding:0 0 15px 0;}
.el_bt{border-top: 1px dotted #9e9e9e; margin:10px 0 0 0; padding:10px 0 0 0;}



#wpadminbar .aioseo-menu-notification-indicator{float:right; margin:8px 4px 0 0;}
#wpadminbar #wp-admin-bar-aioseo-main .aioseo-logo.svg{height:auto !important;}