/* 	Library Style Developer coder Alexander Moskvin  sasha-freez@mail.ru. for site http://sasha-freez.ru */
/* clear css */
*{margin:0;padding:0}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}
caption,th{text-align:left;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
html{height:100%;}
header,nav,section,article,aside,footer{display:block;margin:0;padding:0;}
img{border:0;}
input{vertical-align:middle;}
ol,ul{margin:0;padding:0;}
ul li{margin:0;padding:0;}
a{color:#404040;text-decoration:none; transition:all 0.3s ease 0s;}
a:hover{color:#068db6;text-decoration:none;} 
p{margin:0; padding:0 0 12px 0;}

i, em{font-family:'gotham_promedium_italic', Verdana !important; font-style:normal !important;}

.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.clearfix{display:inline-block;}
html[xmlns] .clearfix{display:block;}
* html .clearfix{height:1%;}
button::-moz-focus-inner, input::-moz-focus-inner{padding:0;border:0;} /* firefox fix center text buttom */


body{font-size:14px; font-family:'gotham_promedium', Verdana; line-height:1.125em; color:#303030;}
button, select, input, textarea{font-family:'gotham_promedium';}
input {outline:none;}
body{-webkit-font-smoothing:subpixel-antialiased !important;
-webkit-backface-visibility:hidden;
-moz-backface-visibility:   hidden;
-ms-backface-visibility:    hidden;
}
h1, h2, h3, h4, h5{font-weight:normal; font-family:'gotham_promedium', Verdana;}
h1{padding:0 0 20px 0; line-height:1.4em; }
h2{padding:0 0 20px 0; font-size:18px;}
h3{padding:0 0 20px 0;}
h4{padding:0 0 20px 0;}
h5{padding:0 0 20px 0;}

.container{min-width:930px; max-width:1300px; margin:0 auto; width:930px; padding:0 25px; background:#fff;}
.container:after{content:"";display:block;clear:both;}

header{padding:15px 0 20px 0;}
header .head_top{padding:0 0 0 0;}
header .head_top:after{content:"";display:block;clear:both;}
header .logo{float:left; font-size:18px; font-weight:bold; text-transform:uppercase;}
header .logo a{color:#303030;}
header .lg_sounds{float:Left; margin:8px 0 0 20px; background:url(../images/logo_sounds.png) no-repeat 0 0; width:91px; height:19px;}
header .lg_sounds:hover{opacity:0.6;}

header .head_top .h_right{float:right; white-space:nowrap; margin-left:20px;}
header .head_top .h_right .auth{float:right; width:150px; padding:7px 0 0 0; font-size:12px;}
header .head_top .h_right .auth a{color:#676767;}
header .head_top .h_right .auth .in{float:left; margin:0 0 0 15px;}
header .head_top .h_right .auth .reg{float:right;}

header .search{float:right; width:360px; position:relative;}
header .search .inp{float:right; background:#e2f1f6; height:28px; line-height:28px; font-size:14px; border:none; border-radius:4px; text-indent:15px; width:0px; color:#546970; font-family:'gotham_promedium';}
header .search .submit{position:absolute; left:auto; right:8px; top:5px; z-index:10;}
header .s_act .inp{display:block;}

header .head_bottom{overflow:hidden;}

.menu{font-family:'gotham_probold', Verdana; margin:0 0 5px 0; height:50px;}
.menu:after{content:""; clear:both; display:block;}
.menu ul{margin:0; padding:0; list-style:none;}
.menu ul li{margin:0; padding:16px 0 15px 0px; display:inline-block; float:left; vertical-align:top; font-size:15px; line-height:19px;}

.menu ul .m1, #menu-item-42{width:87px;}
.menu ul .m8, #menu-item-25327{width:86px; background:url(../images/i_tickets.png) no-repeat 0 14px; padding-left:8px;}
.menu ul .m3, #menu-item-45{width:109px;}
.menu ul .m4, #menu-item-43{width:71px;}
.menu ul .m5, #menu-item-41{width:100px;}
.menu ul .m6, #menu-item-46{width:97px;}
.menu ul .m7, #menu-item-39{width:100px;}
.menu ul .m9, #menu-item-47899{width:87px;}
.menu ul .m11, #menu-item-48879{width:71px;}
.menu ul .m10, #menu-item-47900{width:38px; margin-right:21px; text-align:center; background:url(../images/i_tv.png) no-repeat 0 0;}
.menu ul .m11, #menu-item-53286{width:55px;}

#menu-item-53286 a{color:#da415e;}
#menu-item-53286 a:hover{color:#068db6;}
/* 66 58 88 50 79 75 78 65 49 21 54 = 683-930 = 247 +24 (7) */
.menu ul .current-menu-item a{color:#068db6;}
#menu-item-47899_2 a{color:#666666;}


#menu-item-54{display:none;}
#menu-item-21090{display:none;}
.sub-menu{display:none;}

.content{padding:0 0 10px 0;}
.content:after{content:"";display:block;clear:both;}

.content ul{margin:0 0 0 13px;}
.content ul li{padding:0 0 7px 0}

.block_left{float:left; width:610px; padding:0 0 20px 0;}
.blc{width:610px !important;}
.blr{float:left; width:280px; padding:0 0 0 30px;}
.block_right{float:right; width:280px; padding:0 0 20px 0; position:relative; z-index:1;}

footer{margin:0 -25px;}
footer .fline, footer .fmenu, footer .partners{padding:0 25px;}
footer .fline{background:#efefef; padding-top:15px; padding-bottom:15px;}
footer .fline:after{content:""; clear:both; display:block;}
footer .fline .flogo{float:left; width:190px; padding-top:0px;}
footer .fline .copyright{color:#464646; font-size:11px; margin:0 165px 0 190px;}
footer .social{float:right; width:155px; padding-top:0px;}
footer .social a{float:left; width:24px; height:24px; background:url(../images/i_social.png) no-repeat 0 0; margin-left:7px;}
footer .social a:hover{}
footer .social .vk{background-position:0 0;}
footer .social .face{background-position:-33px 0;}
footer .social .you{background-position:-66px 0;}
footer .social .tw{background-position:-99px 0;}
footer .social .inst{background-position:-132px 0;}

footer .fmenu{text-align:left; background:#f8f8f8;}
footer .fmenu ul{margin:0 -10px; padding:15px 0 15px 0; list-style:none; text-align:left;}
footer .fmenu ul li{padding:0px 8px 0px 8px; display:inline-block; vertical-align:top; font-size:12px;}
footer .fmenu ul li a{color:#464646;}
footer .fmenu ul li a:hover{color:#068db6;}

footer .partners{text-align:left; padding-top:15px; padding-bottom:15px;}
footer .partners a{display:inline-block; vertical-align:top; height:40px; width:40px; background:url(../images/parnters.png) no-repeat 0 0; margin-right:20px;}
footer .partners .tonn16{width:72px; background-position:0 0;}
footer .partners .wm{width:53px; background-position:-100px 0;}
footer .partners .sm{width:36px; background-position:-185px 0;}
footer .partners .icd{width:35px; background-position:-261px 0;}
footer .partners .pn{width:118px; background-position:-337px 0;}
footer .partners .mf{width:74px; background-position:-489px 0;}
footer .partners .pe{width:43px; background-position:-594px 0;}
footer .partners .merc{width:64px; background-position:-668px 0;}
footer .partners .sts{width:34px; background-position:-759px 0;}
footer .partners .pil{width:41px; background-position:-822px 0;}
footer .partners .design_m{width:28px; background-position:-895px 0;}
footer .partners .sl{width:51px; background-position:-947px 0;}
footer .partners .red_club{width:71px; background-position:-1010px 0px; margin:0;}


footer .partners .tonn16:hover{width:72px; background-position:0 -46px;}
footer .partners .wm:hover{background-position:-100px -46px;}
footer .partners .sm:hover{background-position:-185px -46px;}
footer .partners .icd:hover{background-position:-261px -46px;}
footer .partners .pn:hover{background-position:-337px -46px;}
footer .partners .mf:hover{background-position:-489px -46px;}
footer .partners .pe:hover{background-position:-594px -46px;}
footer .partners .merc:hover{background-position:-668px -46px;}
footer .partners .sts:hover{background-position:-759px -46px;}
footer .partners .pil:hover{background-position:-822px -46px;}
footer .partners .design_m:hover{background-position:-895px -46px;}
footer .partners .sl:hover{background-position:-947px -46px;}
footer .partners .red_club:hover{background-position:-1010px -47px;} 

.n-item h3{color:#da415e; font-size:11px; line-height:11px; padding:0 0 10px 0; letter-spacing:0.1em; text-transform:uppercase;}
.n-item h3 a{color:#da415e;}
.n-item h3 a:hover{color:#068db6;}
.n-item img{display:block;}

.section_list{position:relative; margin:0 -50px 0 -25px;}
.section_list ul{margin:0; padding:0; list-style:none;}
.section_list ul li{margin:0; padding:0; display:inline-block; vertical-align:top; width:325px;}
.section_list ul li .row{padding:0 25px 25px 25px; transition: all 0.4s linear;}
.section_list ul li .row:after{content:""; clear:both; display:block;}
.section_list ul li .row .img{display:block; margin:0 0 8px 0; border-radius:4px; position:relative; max-width:275px; overflow:hidden;}
.section_list ul li .row .img img{display:block; float:none; max-width:275px; border-radius:4px; height:auto;}
.section_list ul li .row .img b{visibility:hidden; opacity:0; transition: all 0.4s linear; position:absolute; height:100%; width:100%; top:0; left:0; z-index:1; border-radius:4px;}
.section_list ul li .row .rubric{font-size:11px; font-family:'gotham_promedium', Verdana; padding:0 0 5px 0; letter-spacing:0.1em; text-transform:uppercase;}
.section_list ul li .row .rubric a{color:#078db7;}
.section_list ul li .row .date{font-size:11px; color:#999; padding:0 0 5px 0;}
.section_list ul li .row .name{font-size:16px; padding:0 0 7px 0; line-height:18px;}
.section_list ul li .row .name a{color:#303030;}
.section_list ul li .row .name a:hover{color:#068db6;}
.section_list ul li .row .intro{color:#464646; font-size:12px;}

.section_list ul .small .row .img{float:left; margin-right:10px; margin-bottom:0px; height:47px; width:47px; overflow:hidden; border-radius:4px; padding:0;}
.section_list ul .small .row .img img{ height:47px; margin:0; border-radius:0;}

.section_list ul li .row:hover{opacity:0.8;}
.section_list ul li .row:hover a{color:#068db6;}

.section_list ul .small .row .desc{height:47px; vertical-align:middle; display:table-cell;}
.section_list ul .small .row .name{overflow:hidden; display:block; font-size:12px; line-height:15.75px; padding:3px 0}
.section_list ul .small .row .name .date{font-size:11px; color:#999; padding:2px 0 2px 0; display:block;}
.section_list iframe{display:none;}


.section_list .tiles3 li{margin:0; padding:0; display:inline-block; vertical-align:top; width:239px;}
.section_list .tiles3 li .row .img{overflow:visible; width:200px;}
.section_list .tiles3 li .row .img img{max-width:200px;}

.section_contest_act .tiles2{min-height:300px;}

.section_notices{padding:0;}
.section_notices ul li .row .name{padding-bottom:5px;}
.section_notices ul li .row .intro{padding-bottom:5px;}

.concert_last{padding:0 0 5px 0;}
.concert_last .item{padding:0 0 10px 0;}
.concert_last .item p{padding:0;}
.concert_last .item .buy{float:right; color:#484747; border:0px solid #484747; text-align:center; padding:0 5px 0 5px; margin:1px 0 0 0; line-height:13px; height:13px; font-size:12px; background:url(../images/btn_buy.png) no-repeat 0 0; background-image:url(../images/btn_buy.png); text-indent:-9999px; width:92px; height:15px;}
.concert_last .item .buy:hover{background-position:0 -16px;}
.concert_last .item .name{font-size:16px; color:#303030; line-height:18px; padding:0 0 5px 0;}
.concert_last .item .time{color:#464646; display:inline-block; vertical-align:top; width:40px; font-size:12px;}
.concert_last .item .club{color:#464646; font-size:12px; display:inline-block; vertical-align:top;}

.concurs_last{padding:0 0 10px 0;}
.concurs_last .item{padding:0 0 0 0; font-size:12px;}
.concurs_last .item a{padding:0 0 10px 40px; display:block; margin:0 0 10px 0;}
.concurs_last .type0, .concurs_last .type{background:url(../images/i_disc.png) no-repeat 0 0;}
.concurs_last .type1{background:url(../images/i_ticket.png) no-repeat 0 0; min-height:20px;}


.music_player{padding:0 0 20px 0;}

.reviews_mini{padding:0 0 15px 0;}
.reviews_mini .item, .reviews_mini .row{overflow:hidden; padding:0 0 10px 0;}
.reviews_mini p{padding:0;}
.reviews_mini .img{float:left; width:57px;}
.reviews_mini .img img{border-radius:4px; width:47px; height:auto;}
.reviews_mini .desc{overflow:hidden;}
.reviews_mini .desc .name{font-size:16px; line-height:18px; padding:0 0 4px 0;}
.reviews_mini .desc .intro{color:#464646; font-size:12px; padding:0 0 4px 0;}

.stars{}
.stars .vote{float:left; width:12px; height:12px; background:url(../images/i_stars.png) no-repeat -18px 0; margin-right:5px; display:block;}
.stars .vote span{background:url(../images/i_stars.png) no-repeat -18px 0; width:100%; height:12px; display:block;}
.stars .v_act span{background-position:0 0;}
.stars .v_half span{background-position:0 0; width:50%;}
.stars .v_act, .stars .v_half{display:block;}
.stars .active{background-position:-18px 0;}

.banner_t{height:100px; transition:all 0.3s ease 0s;}
.banner_t img{display:block; border-radius:4px; width:930px; height:100px; box-sizing:border-box;}
.banner_t{background:url(http://modernrock.ru/wp-content/uploads/2014/12/osenzima_new_mrock2.jpg) no-repeat 0 0;}
.banner_t:hover{opacity:0.8;}

.banner_r{margin-bottom:20px; overflow:hidden;}
.banner_r img{max-width:280px; border-radius:4px; box-sizing:border-box; display:block;}
.advert_google{border-radius:4px; box-sizing:border-box;}
.advert_google iframe{border-radius:4px;}

.bnews{}
.bnews .row{padding:0 0 20px 0; font-size:12px;}
.bnews .row:after{content:"";clear:both; display:block;}
.bnews .row a{display:block;}
.bnews .row .img{float:left; border-radius:4px; margin-right:10px; height:47px; width:47px; overflow:hidden;}
.bnews .row img{float:left; height:47px;}
.bnews .row .desc{overflow:hidden; display:block; text-align:left; height:47px; vertical-align:middle; display:table-cell;}
.bnews .row .desc .date{font-size:11px; color:#999; padding:2px 0 2px 0; display:block;}

.bdetails{padding:0; font-family:'gotham_proregular', Verdana; color:#303030;}
.bdetails .date{color:#464646; padding:0 0 10px 0; line-height:11px;}
.bdetails h1{font-size:24px; padding:0 0 15px 0;}
.bdetails .stars{padding:0; margin:-5px 0 25px 0;}
.bdetails .stars:after{content:""; clear:both; display:block;}
.bdetails p{line-height:22px; padding-left:0;}
.bdetails p:first-child span, .bdetails p:first-child span + br{display:none;}
.bdetails .bimg{padding:5px 0 12px 0;}
.bdetails .bimg img, img.alignnone{border-radius:4px;}
.bdetails a{color:#007ab3;}
.bdetails a:hover{color:#404040;}
.bdetails .post_content{padding:0 0 20px 0; padding:0 0 5px 0;}

.bdetails i, .bdetails em{font-family:'gotham_proitalic' !important, Verdana; font-style:normal !important;}



.quote{background:url(../images/quote.png) no-repeat 0 6px; padding:0 0 0 50px; display:block; min-height:30px;}
.gray{color:#5f5f5f;}


.tags{border-bottom:1px solid #7b7b7b; padding:0 0 13px 0; margin:0 0 20px 0; font-size:12px;}
.tags h3{font-size:11px; text-transform:uppercase; color:#303030; padding:0 0 10px 0; line-height:11px; letter-spacing:0.1em;}
.tags  a{color:#068db6; margin:0;}
.tags .qt{margin-right:10px;}

.relative_news{margin-bottom:-5px;}
.relative_news .row{padding:0 0 0 50px; display:inline-block; vertical-align:top; width:275px;}
.relative_news .row{padding:0 0 25px 0;}
.relative_news .row:after{content:"";clear:both; display:block;}
.others_news{}

.comments h3{color:#da415e; font-size:11px; padding:0 0 10px 0;}


.bannerHeader{height:275px;position:relative; width:100%;padding:0px;overflow:hidden;}
.bannerHeader a{display:block;overflow:hidden;width:100%;height:275px;}/*то, что стало после... */

/* page events */
.breadcrumbs{padding-bottom:20px; font-family:'gotham_proregular', Verdana; font-size:12px; color:#747474;}
.breadcrumbs a{}

.details_page{padding:0 0 20px 0;}
.details_page:after{content:"";clear:both; display:block;}

.socials{margin:-10px 0 15px 0;}
.socials a:hover{opacity:0.8;}
.socials .social_shape .at300b{padding:0 4px 0 0;}

/********* cms style *********/

.pagination{text-align:center; padding:0 0 20px 0;}
.pagination .wp-pagenavi a, .pagination .wp-pagenavi span{display:inline-block; vertical-align:top;padding:0 2px;margin:0; border:none; min-width:25px; height:29px; line-height:29px; border-radius:29px; border:none; font-size:16px; text-align:center; color:#000; }
.pagination .wp-pagenavi a:hover{color:#068db6;}
.pagination .wp-pagenavi span.current{font-weight:normal; color:#098db6; background:url(../images/i_pn_h.png) no-repeat 0 0;}
.pagination .wp-pagenavi .pages{display:none;}



.cat_parent{margin-bottom:15px;}
.cat_parent:after{content:"";clear:both; display:block;}
.cat_parent ul{margin:0;padding:0;}
.cat_parent ul li{list-style:none;float:left;margin-right:20px;}
.cat_parent ul li.current-cat a{color:#119dcf;}
.cat_parent ul li a{font-size:14px;color:#000;text-decoration:none;}
.cat_parent ul li a:hover{text-decoration:underline;}

/* page groups */

.csearch{width:100%; position:relative; padding:0 0 20px 0;}
.csearch .inp{background:#e2f1f6; height:28px; line-height:28px; font-size:14px; border:none; border-radius:4px; text-indent:15px; width:100%; color:#546970; font-family:'gotham_promedium', Verdana;}
.csearch .submit{position:absolute; right:8px; top:5px; z-index:10;}

.group-alfa{margin-bottom:20px;}
.group-alfa a{background:#9d9d9d; color:#FFFFFF; text-transform:uppercase; float:left; width:15px; height:20px; line-height:20px; font-size:12px; text-align:center; text-decoration:none; margin:0 0 0px 5px;}
.group-alfa a:hover, .group-alfa .active{background:#0086c5;}
.group-alfa .row{position:relative; width:100%; padding-bottom:5px;}
.group-alfa .row:after{content:""; clear:both; display:block;}
.group-alfa .row a:first-child{margin-left:0px;}

.group-list{margin-bottom:20px; border-bottom:1px solid #bcbcbc; margin-right:20px; min-height:300px;}
.group-list:after{content:""; clear:both; display:block;}
.group-list .left{float:left; width:115px;}
.group-list .right{overflow:hidden;}
.group-list .right:after{content:""; clear:both; display:block;}

.group-list ul{margin:0 0 10px 0; padding:0; list-style:none; position:relative; width:100%;}
.group-list ul:after{content:""; clear:both; display:block;}
.group-list ul li{margin:0px; padding:0px; float:left; width:138px; font-size:12px; border-bottom:1px dotted #000; margin-left:20px;}
.group-list ul li a{color:#303030; text-decoration:none; display:block;padding:4px 0 5px 0px; overflow:hidden;white-space:nowrap; text-overflow:ellipsis;-webkit-text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.group-list ul li a:hover{color:#019de1;}


.gr-first{padding-bottom:20px;}
.gr-first .desc{background:#00a5d8; font-size:12px; text-align:center; padding:5px 5px 5px 5px; margin-bottom:10px; color:#fff; border-radius:4px;}
.gr-first .name{padding:5px 10px 5px 10px;}
.gr-first .name a{color:#00a5d8;}
.gr-first .name a:hover{color:#303030;}
.gr-first .img{}
.gr-first .img img{width:115px; border-radius:4px;}

.gr-search{padding-bottom:20px;}
.gr-search .input{float:left; border:1px solid #9d9d9d; width:83px; padding:0 0 0 10px;}
.gr-search .input input{width:100%; border:none medium; background:transparent; height:20px; line-height:20px; font-size:11px; color:#303030;}
.gr-search .input{float:left;}
.gr-search .submit{float:left;}
.gr-search .submit input[type="submit"]{background:url(/wp-content/themes/ModernRock/images/icon/search.png) 0 0 no-repeat;border:0;width:25px;height:24px;cursor:pointer;}

.pagelist{float:right; padding-bottom:20px;}
.pagelist span{float:left; height:24px; line-height:24px; padding:0 5px;}
.pagelist .prev_gr, .pagelist .next_gr{float:left; width:24px; height:24px;}
.pagelist .prev_gr{background:url(/wp-content/themes/ModernRock/images/icon/barl.png) no-repeat 0 0;}
.pagelist .next_gr{background:url(/wp-content/themes/ModernRock/images/icon/barr.png) no-repeat 0 0;}

.m-vote{padding-bottom:20px; font-size:13px;}
.m-vote .name{font-size:16px; color:#303030; padding-bottom:10px;}
.m-vote .radio{color:#303030; padding-bottom:10px;}
.m-vote .radio .row{padding-bottom:6px;}
.m-vote .submit{}
.m-vote .submit input{font-size:12px; text-transform:uppercase; color:#FFFFFF; background:#9d9d9d; height:25px; width:140px; border:none medium;cursor:pointer;}

.banners-l{padding-bottom:20px; padding-top:20px;}
.vk-comment{padding-bottom:20px;}


.events-top{padding-bottom:30px; margin-right:20px; }
.events-top:after{content:""; clear:both; display:block;}
.events-top .left{float:left; width:280px;}
.events-top .right{float:right; width:200px; padding-top:30px;}

.calendar{overflow:hidden;height:127px;width:265px;position:relative; float:right;}
.calendar .prev, .calendar .next{position:absolute; top:5px; cursor:pointer; z-index:100; font-size:14px;}
.calendar .prev a, .calendar .next a{color:#000000;}
.calendar .prev{left:0px; text-align:left;}
.calendar .next{right:0px; text-align:right;}

.calendar .month{}
.calendar .month .name{font-size:18px; text-align:center; padding-bottom:5px;} 
.calendar .month .name a{color:#000000;}
.calendar .month .name a:hover{color:#019de1;}

.calendar td{height:21px; vertical-align:middle; text-align:center; font-size:12px; color:gray;}
.calendar .weeks{color:#FF4729;}

.ev-top{}
.ev-top .title{font-size:20px; color:#303030; padding-bottom:10px;}
.ev-top .img{padding-bottom:5px;}
.ev-top .img img{border:3px solid #6eafff;}
.ev-top .name{padding-bottom:10px;}
.ev-top .name a{color:#343434; font-size:12px;}

.events-list{margin-right:0px; }
.events-list .item{border-top:1px dotted #9E9E9E; padding:10px 0 10px 0px;}
.events-list .item:first-child{border-top:none medium;}
.events-list .item:after{content:""; clear:both; display:block;}

.events-list .date{width:100px; float:left; text-align:center; margin-right:25px;}
.events-list .date .number{font-size:53px; line-height:40px;}
.events-list .date .month{font-size:16px; font-weight:bold;}
.events-list .date .days{font-size:12px; font-weight:bold;}
.events-list .weeks{color:#FF5868;}

.events-list .row{font-size:16px;padding-bottom:10px;position:relative; margin:0 0 0 125px;}
.events-list .row .event{float:left; width:280px; padding-right:10px; overflow:hidden;white-space:nowrap; text-overflow:ellipsis;-webkit-text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.events-list .row .event a{font-style:normal; color:#000000;}
.events-list .row .event .buy{float:left; background:url(/wp-content/themes/ModernRock/images/icon/buy.png) no-repeat; width:19px; height:19px; position:absolute; left:-26px;}
.events-list .row .event a:hover{color:#019de1;}

.events-list .row .club .time{width:60px; padding-right:5px; text-align:left; display:inline-block; vertical-align:top;}
.events-list .row .club a{color:#019de1;}

/* cms comments */
#commentform{background:#F7F7F7;padding:30px 10px 10px 10px;position:relative; overflow:hidden;margin-bottom:20px;}
#commentform h3{background:#DAE2E8;padding:4px 4px 4px 6px;position:absolute;font-size:12px; text-transform:none;width:100%;left:0;top:0; color:#303030;}
#commentform .avatar{float:left;width:50px;margin-right:15px; position:absolute;}
#commentform .avatar img{width:100%;}
#commentform .addcomment{margin:0 0 0 65px;}
#commentform textarea{background:white;font-family:tahoma, tahoma, verdana, "Trebuchet MS",Helvetica,sans-serif, sans-serif, Lucida Sans;margin:0px;font-size:1.09em;border:0;padding:3px 0;outline:0;resize:vertical;overflow:hidden;color:#777;background-color:white;height:56px;width:100%;border:1px solid gray;}
#commentform input[type="submit"]{font-size:1.09em;border-top-color:#789ABF;border-bottom-color:#5980A9;border-left-color:#5980A9;border-right-color:#5980A9;color:white;text-shadow:0 1px 0 #45688E;background:url(/wp-content/themes/ModernRock/images/button_vk.png) #6181A6 repeat-x top;border:1px solid;margin:0px;cursor:pointer;white-space:nowrap;outline:none;padding:4px 14px 4px;font-family:tahoma, verdana, "Trebuchet MS",Helvetica,sans-serif, sans-serif, Lucida Sans;overflow:visible;}
#commentform input[type="submit"]:hover{background-position:0px -8px;}

.item-comment{border-bottom:1px solid #DAE1E8;padding-bottom:10px;margin-bottom:20px;}
.item-comment .img{float:left;width:50px;margin-right:15px;}
.item-comment .img img{width:100%;}
.item-comment .comments{overflow:hidden;}
.item-comment .comments .author{font-weight:bold;line-height:140%; color:#068db6;text-decoration:none;font-size:12px;margin-bottom:5px;}
.item-comment .comments .author:hover, .item-comment .comments .date:hover{text-decoration:underline;}
.item-comment .comments .date{text-decoration:none;color:#999;font-size:12px;}


/* tickets page */
.tk-land{padding:0 0 10px 0;}
.tk-land{}

.cusel{position:relative; outline:none;}
.cuselText{border:1px solid #979797; height:22px; line-height:22px; padding:0 25px 0 8px; font-size:12px; border-radius:4px; cursor:pointer;}
.cuselFrameRight{background:url('../images/i_select-ar.png') no-repeat 0 0; width:12px; height:6px; position:absolute; right:8px; top:10px; cursor:pointer;}
.cuselOpen .cuselFrameRight{background-position:0 -6px;}
.cuselOpen .cusel-scroll-wrap{position:absolute; z-index:99; width:100%;}
.cuselOpen .cusel-scroll-pane > span{border:1px solid #979797; background:#fff; height:22px; line-height:22px; padding:0 25px 0 8px; font-size:12px; border-radius:4px; cursor:pointer; display:block; margin:2px 0 0 0;}
.cuselOpen .cusel-scroll-pane > span:hover{background:#00a5d7; border-color:#00a5d7; color:#fff;}
.cuselOpen .cusel-scroll-pane .cuselActive{background:#00a5d7; border-color:#00a5d7; color:#fff; display:none;}



.tickets h3, .ticket_list h3{color:#068db6; font-size:14px; line-height:18px; padding:0 0 10px 0; letter-spacing:0.05em;}
.ticket_list h3{text-transform:uppercase;}
.tk-top{overflow:hidden; padding-bottom:15px;}
.tk-recommended{float:left; width:560px; overflow:hidden; border-radius:4px;}
.tk-recommended h3{color:#da415e; padding:0 0 12px 0;}

.last-tickets{float:right; width:325px;}
.last-tickets .row{border-bottom:1px solid #469fc1; font-size:12px; line-height:12px; color:#000; padding-bottom:10px; margin-bottom:10px;}
.last-tickets .row:after{content:"";clear:both; display:block;}
.last-tickets .row .group{color:#068db6; margin:0 0 8px 0;}
.last-tickets .row .group a{color:#068db6; text-decoration:none;}
.last-tickets .row .club{float:left; width:155px; padding-right:10px;}
.last-tickets .row .club a{color:#000;}
.last-tickets .row .club a:hover{color:#068db6;}
.last-tickets .row .date{float:left; width:70px;}
.last-tickets .row .time{float:right; text-align:right; width:40px;}

.cat_type{margin:0 0 30px 0;}
.cat_type h3{color:#068db6; font-size:14px; line-height:18px; padding:0 0 10px 0; letter-spacing:0.05em;}
.cat_type:after{content:"";clear:both; display:block;}
.cat_type ul{margin:0 -5px;padding:0; list-style:none;}
.cat_type ul li{float:left; font-size:14px; padding-right:19px;}
.cat_type ul li a{color:#1e1e1e; font-size:14px; text-decoration:none; border-radius:4px; padding:0 5px; line-height:22px; display:block;}
.cat_type ul li a:hover{color:#00a5d8;}
.cat_type ul .active a, .cat_type .current-cat a{color:#fff; background:#00a5d8;}
.cat_type ul .active a:hover, .cat_type .current-cat:hover a{color:#fff;}

.cat-item-1 a{width:26px;}
.cat-item-2876 a, .cat-item-3051 a{width:72px;}
.cat-item-2877 a, .cat-item-3052 a{width:104px;}
.cat-item-2878 a, .cat-item-3053 a{width:70px;}
.cat-item-2879 a, .cat-item-3054 a{width:66px;}
.cat-item-2880 a, .cat-item-3055 a{width:48px;}
.cat-item-2881 a, .cat-item-3056 a{width:30px;}
.cat-item-2882 a, .cat-item-3057 a{width:29px;}
.cat-item-2883 a, .cat-item-3058 a{width:97px;}
.cat-item-2884 a, .cat-item-3059 a{width:60px;}
.cat-item-2885 a, .cat-item-3060 a{width:38px;}
.cat_type ul .cat-item-2885, .cat_type ul .cat-item-3060{padding-right:0;}

.ticket_list:after{content:"";clear:both; display:block;}
.ticket_list h3{padding-bottom:20px;}
.ticket_list .item{float:left; width:50%; padding-bottom:0;}
.ticket_list .item .img{float:left; border-radius:4px; width:165px; /*height:120px;*/ overflow:hidden; position:relative;}
.ticket_list .item .img img{width:165px; border-radius:4px; display:block;}
.ticket_list .item .desc{margin:-2px 15px 0 190px; min-height:125px;}
.ticket_list .item .desc .name{font-size:16px; color:#000; line-height:18px; padding-bottom:7px;}
.ticket_list .item .desc .name a{font-size:16px; color:#000; text-decoration:none;}
.ticket_list .item .desc .name a:hover{color:#00a5d8;}
.ticket_list .item .desc .type{font-size:12px; color:#747474; padding-bottom:7px;}
.ticket_list .item .desc .type a{font-size:12px; color:#747474; text-decoration:none;}
.ticket_list .item .desc .type a:hover{color:#00a5d8;}
.ticket_list .item .desc .club{background:url(../images/i_location.png) no-repeat 0 0; padding:0 0 8px 20px; font-size:12px; color:#000;}
.ticket_list .item .desc .date{background:url(../images/i_date.png) no-repeat 0 2px; padding:0 0 8px 20px; font-size:12px; color:#000;}

.r_ticket .item{width:100%;}

.one_ticket{padding:0 0 25px 0; margin-top:-8px; font-family:'gotham_promedium', Verdana;}
.one_ticket:after{content:"";clear:both; display:block;}
.one_ticket .img{float:left; width:250px; max-height:350px; overflow:hidden; border-radius:4px; margin-top:8px;}
.one_ticket .img img{width:250px; height:auto; border-radius:0 0 4px 4px;}
.one_ticket .desc{margin:-7px 0 0 275px;}
.one_ticket .desc h1{padding:0 0 2px 0;}
.one_ticket .desc .type{font-size:12px; color:#747474; padding-bottom:9px;}
.one_ticket .desc .type a{font-size:12px; color:#747474; text-decoration:none;}
.one_ticket .desc .type a:hover{color:#00a5d8;}
.one_ticket .desc .club{background:url(../images/i_location.png) no-repeat 0 1px; padding:0 0 10px 20px; font-size:12px; color:#000;}
.one_ticket .desc .date{background:url(../images/i_date.png) no-repeat 0 0; padding:0 0 10px 20px; font-size:12px; color:#000;}
.one_ticket .desc .price{padding:0 0 8px 20px; font-size:12px; color:#000;}

.one_ticket .desc .buy{font-size:14px; color:#fff; text-align:center; margin-left:20px;}
.one_ticket .desc .buy:hover, .one_ticket .desc .buy button:hover{opacity:0.8;}
.one_ticket .desc .buy a, .one_ticket .desc .buy button{color:#fff; display:block; line-height:24px; font-size:14px; color:#fff; width:130px; background:#00a5d8; border-radius:4px; border:none; cursor:pointer;}

#slider{position:relative; height:200px; width:100%; border-radius:4px; overflow:hidden;}
.sl_txt{display:none;}

.nivo-caption{position:absolute;left:0; bottom:0; z-index:9; width:100%; height:53px; opacity:1 !important;}
.nivo-caption p{background:#fff; height:53px; border-radius:0 0 4px 4px;}
.nivo-caption .line{height:53px; float:left; width:420px; padding-left:18px; background:#00a5d8; font-size:12px; line-height:12px; color:#fff; border-radius:0 0 0 4px;}
.nivo-caption .line > span{display:block;}
.nivo-caption .line a{color:#fff;}
.nivo-caption .line .group{font-size:16px; padding-top:10px; padding-bottom:8px;}
.nivo-caption .line .club{float:left; width:140px;}
.nivo-caption .line .date{float:left; width:100px;}
.nivo-caption .line .time{float:left; width:40px;}

.nivo-caption .buy{height:53px; float:right; width:120px; background:#ec063b; text-align:center; border-radius:0 0 4px 0;}
.nivo-caption .buy a{line-height:53px; display:block; font-size:12px; color:#fff;}

.nivo-controlNav{position:absolute; left:10px; bottom:10px; z-index:999; display:none;}
.nivo-controlNav a{width:12px;height:12px;margin:0 8px 0 0;cursor:pointer;background:url(../images/i_slider_ar.png) no-repeat -22px 0;text-indent:-9999px; float:left;}
.nivo-controlNav a:hover, .nivo-controlNav .active{background-position:0 0;}

.nivo-directionNav{}
.nivo-directionNav a{background:url(../images/i_slider_ar.png) no-repeat 0 0; position:absolute; width:15px; height:43px; top:55px; cursor:pointer; z-index:999; text-indent:-9999px;}
.nivo-directionNav a:hover{opacity:0.8;}
.nivo-directionNav .nivo-prevNav{left:12px;}
.nivo-directionNav .nivo-nextNav{right:12px; background-position:-14px 0;}


.tabs_s ul{margin:0;padding:0;list-style:none;}
.tabs_s ul li{cursor:pointer;margin:0;padding:0;}
.tabs_s ul li a{cursor:pointer;}
.tab-content{display:none}
.tc-act{display:block}

.b-recommend h3{color:#da415e; font-size:16px; line-height:14px; padding:0 0 10px 20px; letter-spacing:0.1em; text-transform:uppercase; background:url(../images/i_red_star.png) no-repeat 0 1px;}
.b-recommend .tabs_s{padding:0 0 10px 0;}
.b-recommend .tabs_s:after{content:"";clear:both; display:block;}
.b-recommend .tabs_s ul{margin:0 -5px;}
.b-recommend .tabs_s ul li{float:left; padding-right:18px;}
.b-recommend .tabs_s ul li a{font-size:11px; line-height:18px; text-transform:uppercase; font-weight:bold; display:block; border-radius:4px; padding:0 5px;}
.b-recommend .tabs_s ul .active a, .b-recommend .tabs_s ul a:hover{color:#fff; background:#00a5d8;}
.b-recommend .tabs_s .t1{width:54px;}
.b-recommend .tabs_s .t2{width:80px;}
.b-recommend .tabs_s .t3{width:76px;}
.b-recommend .tabs_s .t4{width:26px; padding-right:0;}

.b-recommend .reviews_mini .item{padding-bottom:20px;}

.subsform{padding:0 0 20px 0;}
.subsform h3{color:#da415e; font-size:16px; line-height:14px; padding:0 0 15px 0;}
.subsform:after{content:"";clear:both; display:block;}
.subsform .input{float:left; height:26px; border:1px solid #00a5d8; width:180px; border-radius:4px;}
.subsform .inp{border:none; background:#fff; height:26px; width:100%; border-radius:4px; text-indent:10px; font-size:12px; color:#5a5a5a;}
.subsform .submit{width:95px; height:28px; line-height:28px; font-size:10px; text-transform:uppercase; text-align:center; color:#fff; background:#00a5d8; float:right; cursor:pointer; border-radius:4px;}
.subsform .submit:hover{background:#007ab3;}
.hide{display:none;}
.subsform .red{color:#da415e; font-size:11px; line-height:11px; padding:0; letter-spacing:0.1em; text-transform:uppercase;}
.subsform .error{border-color:#da415e;}

.stxt{position:static !important; padding:0 25px !important; width:500px !important;}


/* default block hover */
header .logo a, footer .fline .flogo a, footer .social a, .banner_t img, .banner_r img {transition: all 0.4s linear;}
header .logo a:hover, footer .fline .flogo a:hover, footer .social a:hover ,.banner_t img:hover, .banner_r img:hover{opacity:0.8; overflow:hidden;}
.banner_t img:hover, .banner_r img:hover{float:left;}


.section_list ul li .row .img b, .ticket_list .item .img b, .leaks_top .row .img b{visibility:hidden; opacity:0; transition: all 0.4s linear; position:absolute; height:100%; width:100%; top:0; left:0; z-index:1; border-radius:4px;
background: -moz-linear-gradient(left, #00ade3 0%, #f1043a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00ade3), color-stop(100%,#f1043a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #00ade3 0%,#f1043a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #00ade3 0%,#f1043a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #00ade3 0%,#f1043a 100%); /* IE10+ */
background: linear-gradient(to right, #00ade3 0%,#f1043a 100%); /* W3C */

}
.section_list ul li .row:hover .img b, .ticket_list .item:hover .img b, .leaks_top .row:hover .img b{visibility:hidden; opacity:0.35; visibility:visible;}

/* css used styles */


/* css mrok-slide */
.mrok-slide{width:600px;height:830px;margin:5px auto;position:relative;}
.mrok-slide > br, .mrok-slide > p{display:none;}
.mrok-slide .swiper-container{height:815px;width:600px;}
.mrok-slide .nav{background:url(../images/i_slider_ar.png) no-repeat 0 0; position:absolute; top:50%; top:293px; margin-top:-7px; width:15px; height:43px; z-index:10; cursor:pointer;}
.mrok-slide .nav:hover{opacity:0.8;}
.mrok-slide .prev{left:12px;}
.mrok-slide .next{right:12px; background-position:-14px 0;}

.mrok-slide .paginav{position:absolute;left:0;text-align:center;bottom:5px;width:100%; z-index:10; display:none;}
.mrok-slide .swiper-pagination-switch{display:inline-block;width:10px;height:10px;border-radius:10px;background:#999;box-shadow:0px 1px 2px #555 inset;margin:0 3px;cursor:pointer;}
.mrok-slide .swiper-active-switch{background:#fff;}

.mrok-slide .swiper-slide{position:relative;}
.mrok-slide .title{font-size:22px; padding:0 0 15px 0; line-height:24px;}
.mrok-slide .number{position:absolute; right:10px; top:5px; border-radius:60px; height:50px; width:50px; line-height:50px; background:#00a5d8; font-size:22px; color:#fff; text-align:center;}
.mrok-slide .img{padding:0 0 5px 0;}

/* seo txt */
.others_txt{border-top:1px solid #7b7b7b; padding:20px 0 13px 0; margin:0 0 20px 0; line-height:22px; font-size:14px; font-family:'gotham_proregular', Verdana; color:#303030;}

/* sounds */
.d_sounds{padding:0 0 15px 0;}
.gr_sounds{padding:0 0 10px 0; margin:0 -25px;}
.section_list.gr_sounds  .tiles3 li{width:239px;}
.section_list.gr_sounds li .row .album{font-size:14px; padding:0 0 10px 0;}

.section_list.gr_sounds .tiles3 .gr_first{border-radius:4px; margin:0 25px 35px 25px; padding:0; width:auto; display:block; overflow:hidden;}  
.section_list.gr_sounds .tiles3 .gr_first .row{padding:18px 0 18px 170px;}
.gr_sounds .tiles3 .gr_first .row > a{display:block;}
.gr_sounds .tiles3 .gr_first .row span{display:block;}
.gr_sounds .tiles3 .gr_first .row .img img{max-width:285px;}
.gr_sounds .tiles3 .gr_first .row .img{float:left; width:285px; max-width:285px; margin:0 30px 0 0;}
.gr_sounds .tiles3 .gr_first .row .desc{overflow:hidden; height:285px; vertical-align:middle; display:table-cell;}


.gr_sounds .tiles3 .gr_first .row .album{color:#224c4c; font-size:32px; padding:0 0 20px 0;}
.gr_sounds .tiles3 .gr_first .row .name{color:#3b6e6e; font-size:26px; padding:0 0 15px 0;}
.gr_sounds .tiles3 .gr_first .row .name a{color:#3b6e6e;}
.gr_sounds .tiles3 .gr_first .row .genre{font-size:12px; color:#224c4c; padding:0 0 5px 0;}
.gr_sounds .tiles3 .gr_first .row .date{font-size:12px; color:#224c4c;}

.sounds_album{padding:0 0 30px 0;}
.sounds_album .wrap{padding:20px 20px 20px 20px; overflow:hidden; border-radius:4px;}
.sounds_album .img{display:table-cell; vertical-align:middle; padding:0 30px 0 0;}
.sounds_album .img img{max-width:320px;}
.sounds_album .mr_sounds{text-align:center; padding:10px 0 0 0; display:block;}

.sounds_album .desc{display:table-cell; vertical-align:top; width:100%;}
.kname{font-size:25px; color:#224c4c; padding:1px 0 15px 0;}
.kgenre{font-size:12px; color:#224c4c; padding:0 0 5px 0;}
.kdate{font-size:12px; color:#224c4c; padding:0 0 15px 0;}

.author_desc{padding:0 0 30px 0;}
.author_desc .img{display:table-cell; vertical-align:middle; padding-right:20px;}
.author_desc .desc{display:table-cell; vertical-align:middle;}
.author_desc .img img{border-radius:110px; max-width:110px;}
.author_desc .name{font-size:18px; padding:0;}
.author_desc .status{font-size:12px; color:#3d3d3d; padding:0;}

/* Leaks */
.leaks h1{color:#068db6; font-size:14px; line-height:18px; padding:0 0 15px 0; letter-spacing:0.05em; text-transform:uppercase;}
.leaks h1 .c1{color:#da415e;}
.leaks_top{background:#f9f9f9; padding:20px 19px; border-radius:4px 4px 0 4px;}
.leaks_top ul{margin:0 -39px;padding:0; list-style:none; overflow:hidden;}
.leaks_top ul li{margin:0 39px;padding:0; float:left; width:245px;}
.leaks_top .row .img{margin-bottom:8px; position:relative;}
.leaks_top .row .img img{max-width:245px; display:block; border-radius:4px;}
.leaks_top .row .link span{display:block;}
.leaks_top .row .link:hover{color:#068db6;}
.leaks_top .row .album{font-size:16px; color:#068db6; line-height:18px; padding-bottom:7px;}
.leaks_top .row .group{font-size:14px; color:#000; padding-bottom:7px;}
.leaks_top .row .year{font-size:12px; color:#464646; padding-bottom:0px;}
.leaks_top .row .type{font-size:12px;}
.leaks_top .row .type a{color:#464646;}
.leaks_top .row .type a:hover{color:#068db6;}

.leaks_bgr{background:url(../images/leaks.png) no-repeat right 0; height:52px;}


.leaks_list{padding:0 0 10px 0; margin:0 -25px;}
.section_list.leaks_list .tiles3 li{width:239px;}
.section_list ul .tiles3 .row:hover a{color:inherit;}
.leaks_list ul li .row .link span{display:block;}
.leaks_list ul li .row .link{color:#000;}
.leaks_list ul li .row .link:hover{color:#068db6;}
.leaks_list ul li .row .album{font-size:16px; line-height:18px; padding-bottom:7px;}
.leaks_list ul li .row .group{font-size:14px; padding-bottom:7px;}
.leaks_list ul li .row .year{font-size:12px; color:#464646; padding-bottom:0px;}
.leaks_list ul li .row .type{font-size:12px;}
.leaks_list ul li .row .type a{color:#464646;}
.leaks_list ul li .row .type a:hover{color:#068db6;}

.d_leaks{padding:0 0 13px 0; margin:0 0 20px 0; border-bottom:1px solid #7b7b7b;}

.r_leaks{padding:0; margin:0 0 20px 0; border-bottom:1px solid #7b7b7b;}
.r_leaks h3{color:#068db6; font-size:14px; line-height:18px; padding:0 0 10px 0; letter-spacing:0.05em;}
.r_leaks ul li{display:block; width:100% !important;}
.r_leaks ul li:after{content:"";clear:both; display:block;}
.r_leaks ul li .row{padding:0 0 20px 0;}
.r_leaks ul li .row .img{float:left; margin:0 25px 0 0; width:165px !important;}
.r_leaks ul li .row .img img{width:165px;}
.r_leaks ul li .row .desc{overflow:hidden;}
.r_leaks ul li .row .link{display:block; margin-top:-3px;}

.leaks_news{border-bottom:1px solid #7b7b7b; margin-bottom:20px;}
.txt_leaks{border:none; padding:0;}
