
.container{zoom:1;}
header .head_top{zoom:1;}
.menu{zoom:1;}
.content{zoom:1;}
footer .fline{zoom:1;}
.section_list ul li .row{zoom:1;}
.bnews .row{zoom:1;}
.relative_news .row{zoom:1;}
.details_page{zoom:1;}
.cat_parent{zoom:1;}
.group-alfa .row{zoom:1;}
.group-list{zoom:1;}
.group-list{zoom:1;}
.group-list .right{zoom:1;}
.group-list ul{zoom:1;}
.last-tickets .row{zoom:1;}
.one_ticket{zoom:1;}
.top-news{zoom:1;}
.news-list .item{zoom:1;}
.recense-list{zoom:1;}
.events-top{zoom:1;}
.events-list .item{zoom:1;}
.event_details{zoom:1;}
.stars{zoom:1;}
.event-go{zoom:1;}
.event-go .e-users .border{zoom:1;}

.menu ul li{zoom:1;}
footer .fmenu ul li{zoom:1; float:left;}
footer .partners a{zoom:1;}
.section_list ul li{zoom:1;}
.section_list .tiles3 li{zoom:1;}
.concert_last .item .time{zoom:1;}
.relative_news .row{zoom:1;}
.pagination .wp-pagenavi a, .pagination .wp-pagenavi span{zoom:1;}
.cat_type ul li{zoom:1; float:left;}
.news-latest-list .item{zoom:1;}
.events-list .row .club .time{zoom:1;}

.section_list ul li .row:hover .img b{filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);}

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ade3', endColorstr='#f1043a',GradientType=1 ); /* IE6-9 */