
@font-face {
    font-family: 'HelveticaNeue-Regular';
    src: url('HelveticaNeue-Regular.eot');
    src: url('HelveticaNeue-Regular.eot?#iefix') format('embedded-opentype'),
         url('HelveticaNeue-Regular.woff') format('woff'),
         url('HelveticaNeue-Regular.ttf') format('truetype'),
         url('HelveticaNeue-Regular.svg#HelveticaNeue-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Light';
    src: url('HelveticaNeue-Light.eot');
    src: url('HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
         url('HelveticaNeue-Light.woff') format('woff'),
         url('HelveticaNeue-Light.ttf') format('truetype'),
         url('HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue-Medium';
    src: url('HelveticaNeue-Medium.eot');
    src: url('HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
         url('HelveticaNeue-Medium.woff') format('woff'),
         url('HelveticaNeue-Medium.ttf') format('truetype'),
         url('HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family:'HelveticaNeueCyr-Thin';
	src: url('HelveticaNeueCyr-Thin_gdi.eot');
	src: url('HelveticaNeueCyr-Thin_gdi.eot?#iefix') format('embedded-opentype'),
		url('HelveticaNeueCyr-Thin_gdi.woff') format('woff'),
		url('HelveticaNeueCyr-Thin_gdi.ttf') format('truetype'),
		url('HelveticaNeueCyr-Thin_gdi.svg#HelveticaNeueCyr-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
	font-stretch: normal;
}