@font-face {
    font-family: 'pragmaticalightcbold';
    src: url('pragmaticalightc-bold_36376.woff2') format('woff2'),
         url('pragmaticalightc-bold_36376.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'PragmaticaLightC';
  src: url('PragmaticaLightC.eot?#iefix') format('embedded-opentype'),  url('PragmaticaLightC.otf')  format('opentype'),
	     url('PragmaticaLightC.woff') format('woff'), url('PragmaticaLightC.ttf')  format('truetype'), url('PragmaticaLightC.svg#PragmaticaLightC') format('svg');
  font-weight: normal;
  font-style: normal;
}